@charset "UTF-8";
// Imports
@import "tools/reset";
@import "tools/fontawesome/font-awesome";
@import "tools/animate";

// Fonts
@font-face {
    font-family: brandon;
    src: url('fonts/Brandon_thin.otf');
}
@font-face {
    font-family: futurabt;
    src: url('fonts/futurabtbold.otf');
}

@font-face {
    font-family: futurabt-medium;
    src: url('fonts/futurabt-medium.otf');
}
@font-face {
    font-family: titillium;
    src: url('fonts/titilliumwebthin.ttf');
}
@font-face {
    font-family: advent-pro;
    src: url('fonts/adventpro-regular.ttf');
}
@font-face {
    font-family: kaufman-bt;
    src: url('/fonts/kaufmann-bt.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Anton');

// Variables
$sect1-color: #fff;
$sect2-color: #E5FCF5;
$sect3-color: #B3DEC1;
$main-color:  #1175ee;

// Body
body {
	font-family: Anton, sans-serif;

  * {
    box-sizing: border-box;
  }
}
body {
  overflow-x: hidden;
}

// Default tags and classes
.header,.about, .carrer, .skill, .project, .app, .contact footer {
	width: 100%;
	height: 100%;
	color: #fff;

	h1 {
    font-size:16px;
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
  }
}

// Header
.header-action {
  width: 100%;
  min-height:800px;
  background: url('img/background-home.jpg')center;
  background-size: cover;
  display:flex;
  flex-direction: column;

  // Content Flex Home
  .content-flex-home {
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 200px;
    display: flex;
    justify-content: center;

    // Flex 2 col 50%
    .col-2flex {
      width: calc(100%/2);
      height: auto;
      margin: 0px;
    }

    // Texto Home
    .text-home {
      margin-left:60px;
      margin-top: 30px;

      // Name
      h1 {
        font-family: 'futurabt', arial;
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;
        text-align: left;
        margin-top: 100px;
        margin-bottom: 0px;
      }

      // Text Hello
      h2 {
        font-size: 34px;
        text-decoration: underline;
        font-family: 'Titillium Web', sans-serif;
        color: #fff;
      }

      // Profession
      h3 {
        margin-top: -25px;
        font-size: 30px;
        font-family: 'Titillium Web', sans-serif;
        color: #fff;
      }
    }

    // Picture Home
    .picture-perfil-profile {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 60px;
      img {
        width: 300px;
      }
    }
  }

  // Content Flex Move Home
  .content-move {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    height:100px;
    margin-top: 90px;

    // Icon Move
    .icon-move {
      text-align: center;
      font-size: 40px;
      padding-top: 20px;
      a{
        color: #fff;
        :hover{
          color:$main-color;
          border: 2px solid;
          border-radius: 30px;
          padding: 5px 12px 5px 12px;
          background-color: white;
        }
      }
    }
  }
}

// Section About
.about {
  background-color: $sect1-color;
  height: auto;
  margin-top: -20px;

    // Content Flex About
    .content-full-flex-about {
    display: flex;
    width: 100%;

    // Col Flex 50% Qualifications and Objetives
    .col-flex1 {
      display: flex;
      height: auto;
      width: calc(100%/2);
      height: auto;
      background-color: $main-color;

      // Content Flex Qualifications and Objetives
      .plus-about {
        width: 100%;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        padding-top: 30px;

        // Flex contet Qualifications and Objectives
        .flex-obout {
          display: flex;
          flex-direction: column;
          width:80%;
          height:auto;
          margin-left: auto;
          margin-right: auto;

          // Title Qualifications and Objetives
          h2 {
            font-family: 'futurabt', arial;
            font-size: 24px;
            color:#fff;
            text-align: center;
            padding-top: 20px;

          }

          // Paragraph Qualifications and Objetives
          p {
            font-family: 'Titillium Web', sans-serif;
            color:#fff;
            font-size: 14px;
            text-align:left;
            line-height: 20px;
            margin-top: 20px;
            padding-bottom: 40px;
          }

          // Content Objetives ant Qualifications
          .obj-about .qual-about {
            width: 100%;
            height: 50%;
          }
        }
      }
    }

    // Picture About
    .picture-about {
      img {
        padding-top: 140px;
        width: 100%;
        height: auto;
        margin-bottom: -3px;
      }
    }

    // Content Flex Picture and About Me
    .about-2 {
      display: flex;
      height: auto;
      width:100%;

      // Flex 50% Picture and About Me
      .col-flex2{
        display: flex;
        height: auto;
        width: calc(100%/2);
      }

      // Content About Me
      .content-about {

        // Rede Social About Me
        .social-about {
          padding-top: 80px;
          padding-right: 40px;
          display: flex;
          justify-content: flex-end;

          // List Icon
          ul {
            display:flex;
            li{
              padding: 10px 5px 10px 5px;
              border: 2px solid yellow;
              a{
                  i{
                    font-size: 32px;
                    color: $main-color;
                    //padding-left: 12px;
                    }

                    :hover{
                      color:white;
                      border: 2px solid;
                      border-radius: 30px;
                      padding: 6px 10px 6px 10px;
                      background-color: $main-color;
                    }

              }

            }
            /*li a{
                i{
                  font-size: 32px;
                  color: $main-color;
                  padding-left: 12px;
                  }

                  :hover{
                    //color:$main-color;
                    border: 2px solid;
                    border-radius: 30px;
                    padding: 0px 3px 0px 3px;
                    background-color: white;
                  }

            }*/
          }
        }

      }

      // Content About Me
      .text-about {
        width:80%;
        justify-content: center;
        margin-top:190px;
        margin-left: auto;
        margin-right: auto;
        height: auto;

        // Title About Me
        h1 {
          font-family: 'futurabt', arial;
          font-size: 25px;
          color: $main-color;
          text-transform: uppercase;
          text-align: left;
          padding-top: 30px;
        }

        // Paragraph About Me
        p {
          font-family: 'Titillium Web', sans-serif;
          color:$main-color;
          font-size: 14px;
          margin-top: -10px;
          line-height: 20px;
        }

        // Name
        h2 {
          font-family: kaufman-bt;
          font-size: 24px;
          color: $main-color;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 10px;
        }

        // Button Resume
        input {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 50px;
          max-width: 320px;
          border: 3px solid $main-color;
          border-radius: 10px;
          background-color: $main-color;
          color: #fff;
          font-size: 24px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;


        }



      }

      .link-resume{
        display: flex;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        //padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        ul{
          display: flex;
          flex-direction: column;
          li{
            //width: 50%;
            padding-top: 15px;
            margin-left: auto;
            margin-right: auto;
            i{
              //padding: 10px 10px 10px 10px;
              color: $main-color;
              //border: 2px solid $main-color;
              //order-radius: 20px;
            }
            a{
              //padding: 10px 10px 10px 10px;
              display: flex;
              text-decoration: none;
              color: $main-color;
              //flex-direction: column;
              h3{
                padding-left: 5px;
                //padding-top: 10px;
                padding-right: 5px;

              }

              //padding-right: 10px;

              //border: 2px solid $main-color;
              //border-radius: 20px;

            }
            :hover{
              //width: 100%;
              border-radius: 20px;
              border: 2px solid $main-color;
              padding: 5px 20px 5px 10px;

              h3{
                border-color: transparent;
                padding: 0px 0px 0px 5px;
              }
              i{
                border-color: transparent;
                padding: 0px 0px 0px 5px;
              }
            }
          }

        }
      }
    }
  }

}

// Section carrer
.carrer {
  width: 100%;
  height: 100%;
  background: url('/img/back-carrer.jpg')center;
  background-size: cover;
  display:flex;
  flex-direction: column;

  //Content Full carrer
  .content-full-flex-carrer {
    //display: flex;
    width: 100%;
    border: 2px solid red;

    // content Title
    .title-flex-carrer {
      height: 78px;
      background-color: $main-color;

      // title
      h2 {
        font-family: 'futurabt', arial;
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding-top: 30px;
      }

    }

    // Timeline Carrer
    .time-line-carrer {
      width: 85%;
      height: auto;
      border: 2px solid white;
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      padding-top: 100px;
      padding-bottom: 10px;

      // Variables
      $red: #ee4d4d;
      $blue: #2b2e48;
      $primary-color: $red;
      $secondary-color: $blue;


        // Typography
        $base-font: helvetica, arial, tahoma, verdana;
        $base-font-title: "Dosis", arial, tahoma, verdana;

        $base-font-color: #726f77;

        // Timeline
        $timeline-color: $main-color;


        // Mixins and Placeholders
        %clearfix {
        	&:after, &:before {
        		content: '';
        		display: block;
        		width: 100%;
        		clear: both;
        	}
        }

        @mixin prefix($prop, $val) {
        	@each $prefix in '-webkit-', '-moz-', '-ms-', '' {
        		#{$prefix}#{$prop}: $val;
        	}
        }
        *, *:before, *:after {
        	box-sizing: border-box;
        	-webkit-box-sizing: border-box;
        	-moz-box-sizing: border-box;
        }

        .project-name {
          text-align: center;
          padding: 10px 0;
        }

        // Timeline
        #timeline {
        	width: 100%;
          margin: 30px auto;
        	position: relative;
          padding: 0 10px;
        	@include prefix(transition, all .4s ease);

        	&:before {
        		content:"";
        		width: 3px;
        		height: 100%;
        		background: $timeline-color;
        		left: 50%;
        		top: 0;
        		position: absolute;
        	}

        	&:after {
        		content: "";
        		clear: both;
        		display: table;
        		width: 100%;
        	}

        	.timeline-item {
        		margin-bottom: 60px;
        		position: relative;
        		@extend %clearfix;

        		.timeline-icon {
        			background: $timeline-color;
        			width: 48px;
        			height: 48px;
        			position: absolute;
        			top: 0;
        			left: 50%;
        			overflow: hidden;
        			margin-left: -23px;
              text-align: center;
        			@include prefix(border-radius, 50%);

        			i {
        				position: relative;
        				top: 12px;
        				//futurabt-medium
                font-size: 24px;
                text-align: center;
        			}
        		}

        		.timeline-content {
        			width: 40%;
        			background:$main-color;
        			//padding: 20px;
        			@include prefix(box-shadow, 0 3px 0 rgba(0,0,0,0.1));
        			@include prefix(border-radius, 0px 20px 0px 0px);
        			@include prefix(transition, all .3s ease);

              .logotime-title{
                display: flex;
                width: 100%;
                border-bottom: 2px solid #fff;
                padding-bottom: 10px;
                padding-top: 20px;
                padding-left: 20px;

                .flex-12{
                  width: 12%;
                }

                .flex-88{
                  width: 88%;
                }
              }
              img{
                width:40px;
                //height:30px;
              }
        			h2 {
                font-family: 'futurabt-medium', arial;
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
        				//padding: 15px;
                //padding-left: 30px;
        				background: $timeline-color;
        				//margin: -20px -20px 0 -20px;
                text-align: left;
                padding-top: 13px;

                line-height: 12px;
        				//font-weight: 300;
        				@include prefix(border-radius, 3px 3px 0 0);
        			}
              h1{
                padding-top: 50px;
                padding-left: 20px;
                padding-right: 20px;
                font-family: 'Titillium Web', sans-serif;
                font-size: 14px;
                //font-weight: 400px;
              }
              p{
                //padding-top: 20px;
                padding-bottom: 40px;
                padding-left: 20px;
                padding-right: 20px;
                font-family: 'Titillium Web', sans-serif;
                font-size: 14px;
                text-align:center;

              }

        			&:before {
        				content: '';
        				position: absolute;
        				left: 40%;
        				top: 20px;
        				width: 0;
        				height: 0;
        				border-top: 7px solid transparent;
        				border-bottom: 7px solid transparent;
        				border-left:7px solid $timeline-color;
        			}

        			&.right {
        				float: right;
                @include prefix(border-radius, 20px 0px 0px 0px);

        				&:before {
        					content: '';
        					right: 40%;
        					left: inherit;
        					border-left: 0;
        					border-right: 7px solid $timeline-color;
        				}
        			}
        		}
        	}
        }



        // list icon
        ul{
          //padding-left:20px;
          padding-bottom: 30px;
          //margin-left: auto;
          //margin-right: auto;
          text-align: center;
          //display: inline-block;
          li{
            display: inline-block;
            padding-right: 10px;
            a{
              color: #fff;

              i{
                border: 2px solid #fff;
                border-radius: 30px;
                width: 40px;
                height: 40px;
                padding-top: 10px;
                }:hover{
                  color:$main-color;
                  border: 2px solid;
                  border-radius: 30px;
                  //padding: 6px 10px 6px 10px;
                  background-color:white ;
                }

            }

            h3{
              padding-top: 10px;
              padding-left:20px;
              padding-right: 20px;
              font-family: 'Titillium Web', sans-serif;
              font-size: 14px;
              text-align: center;
              //font-weight: 400px;
            }


          }
        }


        @media screen and (max-width: 768px) {
        	#timeline {
        		margin: 30px;
        		padding: 0px;
            width: 90%;
        		&:before {
        			left: 0;
        		}

        		.timeline-item {
        			.timeline-content {
        				width: 90%;
        				float: right;

        				&:before, &.right:before {
        					left: 10%;
        					margin-left: -6px;
        					border-left: 0;
        					border-right: 7px solid $timeline-color;
        				}
        			}

        			.timeline-icon {
        				left: 0;
        			}
        		}
        	}
        }

    }

    .next-step{

      display: none;
      //width: calc(100%/3);
      border:2px solid white;
      width: 40%;
      background: white;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      border-radius: 20px;
      margin-bottom: 100px;
        h1{
          font-family: 'futurabt-medium', arial;
          font-size: 18px;
          color: $main-color;
          text-transform: uppercase;
          //background: #1175ee;
          text-align: center;
          padding-top: 50px;
          line-height: 0px;

          //border-radius: 3px 3px 0 0;
        }
    }
  }
}


// skills
.skill {
  width: 100%;
  //height: 100%;
  //min-height:800px;
  background: url('/img/background-home.jpg') center;
  background-size: cover;
  //display: flex;
  //flex-direction: column;

  //Content Full Skills
  .content-full-flex-skills {
    //display: flex;
    width: 100%;
    border: 2px solid red;

    // content Title
    .title-flex-skills {
      height: 78px;
      background-color: $main-color;

      // title
      h2 {
        font-family: 'futurabt', arial;
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding-top: 30px;
      }

    }



    .content-skills{
      width: 85%;
      height: auto;
      border: 2px solid white;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      padding-top: 100px;
      padding-bottom:0px;


      .types-skills{
        width: 100%;
        display: flex;
        flex-direction: row;

        .content-2skills{
          border: 2px solid white;
          width: 100%;
          display: flex;
          flex-direction: row;


          .col-flex30-tecs{
            width: calc(40%);
            height: auto;
            border: 2px solid red;
            flex-direction: column;

            .flex100title-tecs{
              padding-top: 40px;

              h1{
                font-family: 'futurabt', arial;
                font-size: 24px;
                color: #fff;
                //text-transform: uppercase;
                //text-align: center;

              }
            }

            .flex100content-tecs{

              p{

                font-family: 'Titillium Web', sans-serif;
                font-size: 14px;
                text-align: left;
                line-height: 24px;


              }
            }
          }

          .col-flex40-skills{
            width: 60%;
            height: auto;
            border: 2px solid red;
            display: flex;


            .left-bar{
              width: 32%;
              border: 2px solid red;
              display: flex;

              .line-bar{
                width:100%;
                height: 2px;
                background-color: #fff;
                margin-top: auto;
                margin-bottom: auto;
              }
            }

            .right-bar{
              width: 32%;
              border: 2px solid red;
              display: flex;

              .line-bar{
                width:100%;
                height: 2px;
                background-color: #fff;
                margin-top: auto;
                margin-bottom: auto;
              }

            }

            #bars {
            	//margin: 2em auto;
              width: 36%;
              height: 100%;
            	//max-width: 960px;
            	overflow: hidden;

            }

            .bar {
            	//float:center;
            	//width: 100%;
              height: 100%;
              margin-top: auto;
              margin-bottom: auto;
              //display: flex;
            	text-align: center;
              border: 2px solid red;

            }
            .bar-circle {
            	//display: block;
            	margin: 0.7em auto;
              background-color: #1175ee;
              border-radius:50%;
              margin-top: 40px;
              display: flex;
              width: 100%;

            }
          }
        }
        .col-flex30-logos{
          width: 40%;
          height: 250px;
          border: 2px solid red;
          //padding-top: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          ul{
            padding-top: 10px;
            display: flex;
            a{
              li{
                display: inline-block;
                background-color: white;
                border-radius: 30px;
                margin-left: 10px;
                width: 52px;
                height: 52px;


              }

              :hover{
                background-color: $main-color;
                border-radius: 30px;

                 svg g {
                  fill: white;
                  stroke: none;
                }


            }

            }




          }
        }

      }

    }
  }



}

// PROJECT
.project {
  width: 100%;
  //min-height:800px;
  background: url('/img/background-home.jpg')center;
  background-size: cover;
  //display:flex;
  //flex-direction: column;
  .content-full-flex-projects {
    //display: flex;
    width: 100%;
    border: 2px solid red;

    .title-flex-projects-photo {



      //height: 78px;
      //background-color: $main-color;
      display: flex;

      .col-title-project{
        width: calc(100%/3);
        border: 2px solid red;
        display: flex;
        justify-content: center;
      }
    }

    // content Title Photo
    .title-flex-projects-photo{

      .col-title-project {
        width: 100%;
        border: 2px solid red;

        img{
          display: flex;
          justify-content: center;
          //width: 100%;
          //padding-left:30px;
          //padding-right:30px;
          //padding-top: -10px;
          //width: 100%;
          //height: auto;

        }

      }


    }
    // content Title
    .title-flex-projects {

      height: 78px;
      background-color: $main-color;
      display: flex;
      margin-top: -120px;

      .col-title-project {
        width: calc(100%/3);
        border: 2px solid red;
        //display: flex;
        // title
        h2 {
          //display: flex;
          //justify-content: center;
          font-family: 'futurabt', arial;
          font-size: 24px;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          padding-top: 30px;
        }
      }
    }

    .content-projects {

      width: 90%;
      max-height: 480px;
      border: 2px solid white;
      display: flex;
      //flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50px;
      padding-bottom:0px;
      margin-top: 60px;
      margin-bottom: 20px;
      //background-color: $main-color;
      .card-projeto{
        display: flex;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid red;

        .size-proj{
          width: calc(100% / 3);
        }
      }
    }
  }

}

// APP
.app {
  width: 100%;
  min-height:300px;
  background-color: #fff;

  .content-full-flex-app{
    width: 100%;
    display: flex;
    //border: 2px solid red;
    border: 2px solid yellow;

    .text-link-app{

      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 20px;
      width: 60%;
      border: 2px solid yellow;

      h2{
        display: flex;
        justify-content: center;
        border: 2px solid yellow;
        font-family: 'futurabt', arial;
        font-size: 24px;
        color:$main-color;
        text-transform: uppercase;
        //text-align: center;
        //padding-top: 10px;
      }

      ul{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        border: 2px solid yellow;

        li{
          padding: 10px 5px 10px 5px;
          border: 2px solid yellow;
          a{
              i{
                font-size: 32px;
                color: $main-color;
                //padding-left: 12px;
                }

                :hover{
                  color:white;
                  border: 2px solid;
                  border-radius: 30px;
                  padding: 6px 10px 6px 10px;
                  background-color: $main-color;
                }

          }

        }

          /*li{
            border: 2px solid yellow;
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            a{
              i{
                font-size: 34px;
                color: $main-color;
              }
            }
            :hover{
                color: #1175ee;
                border: 2px solid;
                border-radius: 30px;
                //padding: 5px 12px 5px 12px;
                background-color: white;
              }
          }*/
      }
    }

    .picture-smartyphone{

      display: flex;
      justify-content: center;

      width: 40%;
      border: 2px solid yellow;
      padding-top: 50px;
      padding-bottom: 50px;

      img{
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        height: 100%;
      }
  }
}
}
// CONTACT
.contact {
  width: 100%;
  min-height:800px;
  background: url('/img/background-home.jpg')center;
  background-size: cover;
  display:flex;


  .content-full-flex-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid red;

    // content Title
    .title-flex-contact {
      height: 78px;
      width: 100%;
      background-color: $main-color ;


      // title
      h2 {
        font-family: 'futurabt', arial;
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding-top: 30px;
      }

    }

    .contact-flex {

      width: 40%;
      min-height: 370px;
      border: 2px solid red;
      margin-left: auto;
      margin-right: auto;
      //padding-top: 150px;
      margin-top: 150px;
      background:rgba(17, 117, 238, 0.5);
      padding-top: 70px;
      padding-bottom: 50px;

      ul {

        li{

        display:flex;
        padding-top: 20px;
        padding-left: 50px;


        i{
          font-size: 30px;
          color: #fff;
          text-align: left;
          display: inline;

        }

        h2 {
          font-family: 'futurabt', arial;
          font-size: 28px;
          color: #fff;
          //text-transform: uppercase;
          //text-align: center;
          padding-left:10px;
          //padding-top: 10px;
        }
      }
    }
    }

    .text-contact-flex{
      display: flex;
      justify-content: center;
      padding-top: 50px;
      h3{

        font-family: 'futurabt', arial;
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        //padding-top: 20px;
      }
    }

    .button-contact{
      display: flex;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 30px;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid red;
      a{
        display: flex;
        text-decoration: none;
        color: #fff;
        width: 100%;
        i{
          display: flex;
          justify-content: center;
          border: 2px solid #fff;
          border-radius: 10px;
          width: 100%;
          height: 60px;
          padding-top: 12px;
          font-size: 30px;

        }
      }
      :hover {
        color: #1175ee;
        border-color:#1175ee;
        background-color: white;
        border-radius: 10px;
      }
    }

    #form-main{
      display: flex;
      justify-content: center;
      //padding-top: 50px;
      //padding-bottom: 30px;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid red;

      #feedback-page{
	      text-align:center;
      }

      /*#form-main{
      	width:100%;
      	float:left;
      	padding-top:0px;
      }*/

      #form-div {
      	//background-color:rgba(17, 117, 238, 0.5);
      	//padding-left:35px;
      	//padding-right:35px;
      	padding-top:35px;
      	padding-bottom:50px;
      	width: 100%;
        display: flex;
        justify-content: center;
      	//float: left;
      	//left: 50%;
      	//position: absolute;
        //margin-top:30px;
      	//margin-left: -260px;
        //-moz-border-radius: 7px;
        //-webkit-border-radius: 7px;
      }


      .form{
        width: 100%;
      }
      .feedback-input {
      	color:white;
      	font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
      	font-size: 18px;
      	border-radius: 20px;
      	line-height: 22px;
      	background-color: rgba(0, 0, 0, 0.08);
        //background-color: transparent;
      	padding: 13px 13px 13px 54px;
      	margin-bottom: 10px;
      	width:100%;
        //border: 2px solid red;


      	//-webkit-box-sizing: border-box;
      	//-moz-box-sizing: border-box;
      	//-ms-box-sizing: border-box;
      	box-sizing: border-box;
        border: 2px solid transparent;
      }

      .feedback-input:focus{
      	background: #fff;
      	box-shadow: 0;
      	border: 2px solid $main-color;
      	color: $main-color;
      	outline: none;
        padding: 13px 13px 13px 54px;
      }

      .focused{
      	color:$main-color;
      	border:$main-color solid 3px;
      }

      /* Icons ---------------------------------- */
      #name{
      	background-image: url("/img/name.svg");
      	background-size: 30px 30px;
      	background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      #name:focus{
      	background-image: url("/img/nameb.svg");
      	background-size: 30px 30px;
      	background-position: 8px 5px;
        background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      #email{
      	background-image: url("/img/email.svg");
      	background-size: 30px 30px;
      	background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      #email:focus{
      	background-image: url("/img/email.svg");
      	background-size: 30px 30px;
        background-position: 11px 8px;
      	background-repeat: no-repeat;
        //color: $main-color;
      }

      #comment{
      	background-image: url("/img/comment.svg");
      	background-size: 30px 30px;
      	background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      textarea {
          width: 100%;
          height: 150px;
          line-height: 150%;
          resize:vertical;
      }

      input:hover, textarea:hover,
      input:focus, textarea:focus {
      	background-color:white;
        color: $main-color;
        border: 2px solid $main-color;
      }

      #name:hover{
        background-image: url("/img/nameb.svg");
      }

      #email:hover{
        background-image: url("/img/emailb.svg");
      }

      #comment:hover{
        background-image: url("/img/commentb.svg");
      }

      #button-blue{
      	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      	float:left;
      	width: 100%;
      	border: $main-color solid 2px;
      	cursor:pointer;
      	background-color: $main-color;
      	color:white;
      	font-size:24px;
      	padding-top:22px;
      	padding-bottom:22px;
      	transition: all 0.3s;
        margin-top:-4px;
        font-weight:700;
        border-radius: 20px;
      }

      #button-blue:hover{
        background-color: white;
      	transition: .3s ease;
      	color: $main-color;
      }

      .submit:hover {
      	color: $main-color;
      }

      .ease {
      	width: 0px;
      	height: 74px;
      	background-color: white;
      	transition: .3s ease;
      }

      .submit:hover .ease{
        width:100%;
        background-color:white;
        border-radius: 20px;
      }

      /*@media only screen and (max-width: 580px) {
      	#form-div{
      		left: 3%;
      		margin-right: 3%;
      		width: 88%;
      		margin-left: 0;
      		padding-left: 3%;
      		padding-right: 3%;
      	}
      }*/
    }

    .moveup-contact{
      display: flex;
      justify-content:flex-end;
      padding-bottom: 10px;
      padding-right: 50px;
      width: 100%;
      //margin-left: auto;
      //margin-right: auto;
      border: 2px solid red;
      a{
        display: flex;
        justify-content:flex-end;
        color: #fff;
        text-decoration: none;
        transition: all ease .5s;

        i{

          display: flex;
          justify-content:center;
          border: 2px solid #fff;
          border-radius: 30px;
          width: 60px;
          height: 60px;
          padding-top: 10px;
          font-size: 30px;

        }
      }
      :hover {
        color: #1175ee;
        border-color: #1175ee;
        border-radius: 30px;
        background-color: white;
    }
    }

  }
}

footer {
  width: 100%;
  height: 90px;
  background-color: $main-color;
  display: flex;

  .content-full-flex-footer{
    width: 90%;
    height:100%;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    //justify-content: center;

    .left-footer{
      display:flex;
      //justify-content: flex-start;
      width: 50%;
      height: 100%;
      border: 2px solid white;
      padding-top: 20px;
      padding-bottom:20px;
      img{
        height:100%;
      }

      h3{
        font-family: 'Titillium Web', sans-serif;
        font-size: 24px;
        //text-align: left;
        color: #fff;
        margin-top: 8px;
        margin-left: 10px;
      }
    }

    .right-footer{
      width: 50%;
      border: 2px solid white;
      height: 100%;
      padding-top: 20px;
      padding-bottom:20px;
      padding-right: 10px;
      display: flex;
      justify-content: flex-end;

      i{
        font-size: 32px;
        color: #fff;
        padding-left: 10px;
      }
    }
  }
}

// Menu Nav
.menu-nav {
  display: flex;
	width: 100%;
	height: 42px;
	position: absolute;
	z-index: 9;
	text-align: center;
	transition: all ease-in-out .2s;

  // Content Flex Nav - Logo and Select Laguage
  .content-flex-nav {
     display: flex;
     width: 100%;
     justify-content: center;
     margin: auto;

    // Logo Menu
    .logo-header {
      width: 50%;
      height:34px;
      background: url('/img/logo-header.svg')no-repeat;
      background-size:auto;
      margin-left: 5%;

      // Name Main Menu
      h1 {
        display: none;
      }

      // Content Name Flex
      .name-menu {
        display: none;

        // Name
        h2 {
          font-size: 24px;
          font-family: 'Titillium Web', sans-serif;
          color: $main-color;
          float: left;
          padding-left: 50px;
          padding-top: 3px;
        }
      }
    }

    //  Content Select Laguage Flex
    .select-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 50%;
      height: auto;

      // Select Laguage
      select {
        background-color:transparent;
        border-radius: 60px;
        background-image:url('/img/arrow_down.svg');
        background-position: top -1px right 1px;
        background-repeat:no-repeat;
        display: block;
        height: 30px;
        width: 150px;
        cursor: pointer;
        outline: none;
        letter-spacing: 1px;
        border: 2px solid #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        line-height: 20px;
        padding-left: 20px;
        color: #fff;
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        text-transform: uppercase;
        margin-top: 2px;
        margin-right:125px;
        margin-bottom: 0px;

        // hover
        &:hover{
          background-color: #fff;
          color: $main-color;
          background-image:url('/img/arrow_down-b.svg');
        }
      }
    }
  }
}

// Background White Menu
.js-active {
  position: fixed;
	margin-top: 0px;
	top: 0!important;
	height:50px;
	background-color: #fff ;
}

// Background Transparent Menu
.js-active-transparent {
    position: fixed;
  	margin-top: 42px;
  	top: 0!important;
  	height:42px;
  	background-color: transparent;
}

// Content List Pages
.pages {
  position: fixed;
	z-index: 9;
	right: 20px;
	top: 50%	;
	transform: translateY(-50%);
	text-align: center;

  // List Pages
	li {
		margin: 15px 0;

    // Links Pages
		a {
			display: inline-block;
			width: 14px;
			height: 14px;
			background-color: #fff;
			border-radius: 50%;
			transition: all ease-in-out .3s;
			position: relative;
			transition: all ease .2s;
        &.is-active {
				background-color: $main-color;
        }
        &:before {
        position: absolute;
        content: attr(data-page-title);
        display: none;
        color: #fff;
        width: 100%;
        background-color: rgba(0,0,0,.8);
        left: -118px;
        width: 100px;
        padding: 4px 4px 4px 10px;
        border-radius: 8px 10px 2px 8px;
        text-align: left;
        height: auto;
        bottom: 100%;
        transition: all ease .5s;
        transform-origin: bottom right;
        transform: scale(0);
        }
        &:hover:before {
          display: block;
          transform: scale(1.1);
        }
      }
	  }
}

// Icon Menu
.hamburger {
  position: fixed;
  background-color: transparent;
  padding: 3px 12px;
  top:40px;
  right: 5%;
  z-index: 100;
  cursor: pointer;
  transition: all cubic-bezier(0.4, 0.6, 0.24, 1.2) 0.5s;

  // lines Menu
  .line {
    width: 40px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
  }
    &.is-active {
    transform: rotate(90deg);
    .line:nth-child(1) {
      width: 20px;
    }
    .line:nth-child(3) {
      width: 20px;
    }
  }
}

// Menu Toggle
.menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: all ease-out 0.3s;
  transform-origin: top right;
  opacity: 0;
  //align-items: center;
}

// List Menu
.menu li {

  display: block;
  width: 50%;
  height: 25%;
  float: left;
  background-position: center center;
  background-size: cover;
  filter: grayscale(100%);
  transition: all 0.35s ease-in-out;
  opacity: 0;
}

// Itens Menu
.menu li:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.08);
  transform: translateX(-100%);
  transition-delay: 0.1s;
}
.menu li:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.08);
  transform: translateX(100%);
  transition-delay: 0.15s;
}
.menu li:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.08);
  transform: translateX(-100%);
  transition-delay: 0.2s;
}
.menu li:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.08);
  transform: translateX(100%);
  transition-delay: 0.25s;
}

.menu li:nth-child(5) {
  background-color:rgba(0, 0, 0, 0.08);
  transform: translateX(100%);
  transition-delay: 0.25s;
}

.menu li:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.08);
  transform: translateX(100%);
  transition-delay: 0.25s;
}



// Links Menu
.menu li a {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-in-out;
  text-align: center;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
}
.menu li a span {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.menu li:hover {
  filter: grayscale(0);
  padding: 10px;
}
.menu li:hover a {
  //background-color: rgba(0, 0, 0, 0.5);
  background-color: #1175ee;
}
.menu.on {
  transform: scale(1);
  opacity: 1;
}
.menu.on li {
  opacity: 1;
  transform: translateX(0%);
}

// Desktop and Tablets landcaspe
@media screen and (max-width: 750px) {
    // ABOUT
    .about{
      .content-full-flex-about{
        .about-2{
          .text-about{
            margin-top: 120px;
          }
        }
      }
    }

    // CONTACT
    .contact{
        .content-full-flex-contact {
            .contact-flex{
              width: 70%;
            }
        }
    }
}

// Tablet
@media screen and (max-width: 979px) {

  // Menu Fixo
  .menu-nav {

    // Content Flex Menu
    .content-flex-nav{

      // Select
      .select-header select {
      padding-left: 20px;
      padding-right: 25px;
      margin-right: 110px;
      }
    }
  }

  // Home
  .header-action {

    // Content Flex Home
    .content-flex-home {
        flex-direction: column;
        margin-top: 150px;

        // Content Text Home
        .col-2flex {
          width: 100%;

          // Text Home
          .text-home {
            margin-left: 0px;
            margin-top: 10px;

              // Name
              h1 {
                text-align: center;
                font-size: 30px;
                margin-top: 50px;
              }

              // Text Hello
              h2 {
                font-size: 30px;
                text-align: center;
              }

              // Name Profection
              h3 {
                font-size: 20px;
                text-align: center;
              }
            }
          }

          // Content Picture Home
          .picture-perfil-profile {
            justify-content: center;
            padding-right: 0px;

            // Image Profile Home
            img {
              width: 225px;
              height: 250px;
              padding-top: 20px;
            }
          }
        }
    }

    // Content Flex About
    .about .content-full-flex-about {
      flex-direction: column;

      // Content About
      .about-2 {
        flex-direction:row;

        // Text About
        .col-flex2 {
          width: 100%;

          // Rede Social About
          .content-about .social-about {
            padding-top: 50px;

            // Lista Icon Rede Social
            ul li i {
              font-size: 25px;
            }

          }
        }

        // Text About
        .text-about {
          margin-top: 80px;
          margin-bottom: 40px;
        }

        // Picture About
        .picture-about img {
          padding-top: 100px;
        }
      }

      // Flex About
      .col-flex1{
        width: 100%;

        // Contet About
        .plus-about .obj-about .flex-obout {
          padding-top: 40px;
        }

        // Content  Qualifications and Objectives
        .plus-about .qual-about .flex-obout {
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
    }
    // CARRER
    .carrer {
      .content-full-flex-carrer {

        .title-flex-carrer {
          height: 78px;
          background-color: #fff;

          h2{
            color: $main-color;
          }
        }
        .time-line-carrer{
          padding-top: 50px;
        }
      }
    }

    // SKILLS
    .skill{
      .content-full-flex-skills{
        .content-skills {
          .types-skills{
            .col-flex30-logos{
              height: auto;
              justify-content: center;
              width: 65%;
            }
            .content-2skills{
              .col-flex30-tecs{
                width: 80%;
              }

              .col-flex40-skills{
                .bar-circle{
                  margin-top: 85px;
                }
              }
            }
          }
        }
      }
    }

    //APP
    .app{
      .content-full-flex-app{
        .text-link-app{
          h2{
              text-align: center;
              padding-left: 30px;
          }
        }
      }
    }

    // CONTACT
    .contact {
      .content-full-flex-contact{
        .contact-flex {
          display: flex;
          margin-top: 100px;
          justify-content: center;
          width: 70%;
          min-height: inherit;
          padding-bottom: 70px;
        }
        #form-main{
          width: 70%;
        }
        .button-contact{
          width: 70%;
        }
      }
    }
}

// Smartyphones
@media screen and (max-width: 500px) {

  // About
  .about {
    margin-top: -60px;
  }

  // Content Flex About
  .about .content-full-flex-about .about-2 {
    flex-direction: column-reverse;

    // Content Rede Social
    .col-flex2 .content-about .social-about {
      padding-top: 80px;
    }

    // Picture About
    .picture-about img {
      padding-top: 60px;
    }
  }

  // Menu
  .menu-nav {

    // Content Menu Flex
    .content-flex-nav {

      // Logo Menu
      .logo-header {
        width: 30%;
      }

      // Select Menu
      .select-header select {
        padding-left: 12px;
        padding-right: 25px;
        margin-right: 60px;
        font-size: 12px;
      }

      // Name Profile Menu
      .logo-header .name-menu h2 {
        display: none;
      }
    }
  }

  // Carrer
  .carrer .content-full-flex-carrer {

    .title-flex-carrer {
    background-color: #fff;
    h2{
      color: $main-color;
    }
    }
    .time-line-carrer{
      padding-top: 0px;

    #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
    &:before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        width: 90%;
        float: right;

        &:before, &.right:before {
          left: 10%;
          margin-left: -6px;
          border-left: 0;
          border-right: 7px solid $main-color;
        }

        .logotime-title{

          .flex-12{
            width: 25%;
          }

          .flex-88{
            width: 75%;

            h2 {

                font-size: 14px;
                text-align: left;
                padding-top: 1px;
                line-height: 15px;
                padding-right: 10px;
                padding-left: 5px;

            }
          }
        }
      }

      .timeline-icon {
        left: 0;
        }


      }
    }

    }
  }
  // Skills
  .skill {

    .content-full-flex-skills{

      .content-skills{
        padding-top: 20px;
        .types-skills{
            flex-direction: column;

          .content-2skills{
            flex-direction:column-reverse;
            .col-flex40-skills{
              width: 100%;
              .bar-circle {
                margin-top: 0px;
              }
            }
            .col-flex30-tecs{
              width: 100%;
            }
          }
          .col-flex30-logos{
            width: 100%;
            height: auto;
            padding-bottom: 20px;

            ul{
              margin-left: auto;
              margin-right: auto;
            }

          }
        }

      }
    }
  }

  // Projects
  .project .content-full-flex-projects {

    .title-flex-projects-photo{
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

      .col-title-project img{
      width: 100%;
      height: 90%;
      }
    }

    .title-flex-projects{
      margin-top: -50px;
      flex-direction: column;
      background-color: #fff;

      .col-title-project{
        width: 100%;


        h2{
          color: $main-color;
        }
      }
    }

    .content-projects{
      margin-top: 20px;
      margin-bottom: 20px;

      .projects-flex{
        flex-direction: column;
        width: 90%;

        .video-project{
          width: 100%;

          .img-mac-project{
            #project-vi{
              height: 100px;
                //margin-left: auto;
                //margin-right: auto;
              margin-top: -130px;
            }
          }
        }

        .desc-project{
          width: 100%;
          padding-top: 100px;

          .content-des p{
            text-align: center;
          }
        }

        .content-list-desc{
          margin-bottom: 30px;
        }
      }
    }
  }

  // app
  .app .content-full-flex-app {
    flex-direction: column;

    .text-link-app{
      width: 100%;

      h2{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
      }
    }

    .picture-smartyphone{
      width: 100%;
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 30px;
      padding-bottom: 0px;

      img{
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        height: 100%;
        padding-bottom: 30px;
      }
    }
  }

  // Contact
  .contact {
    min-height:inherit;

    .content-full-flex-contact {

      .contact-flex {
        width: 90%;
        margin-top: 20px;
        padding-top: 50px;
        padding-bottom: 60px;
        min-height: inherit;

        ul li{
          padding-left: 0px;
          justify-content: center;

          i{
            font-size: inherit;
          }

          h2{
            font-size: inherit;
          }
        }
      }

      .text-contact-flex{

        padding-top: 20px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;

         h3{
          font-size: inherit;
         }
      }

      #form-main{
        width: 80%;
      }
      .button-contact{
        width: 80%;
        padding-top: 10px;
      }

      .moveup-contact{
        display: none;
      }
    }
  }

  footer .content-full-flex-footer .left-footer {
    width: 70%;

    h3{
      font-size: inherit;
      margin-top: 10px;
    }
  }
}
