// CHARSET
@charset "UTF-8";

// IMPORTS
@import "tools/reset";
@import "tools/fontawesome/font-awesome";
@import "tools/animate";


// FONTS
@font-face {
    font-family: brandon;
    src: url('../fonts/Brandon_thin.otf');
}

@font-face {
    font-family: futurabt;
    src: url('../fonts/futurabtbold.otf');
}

@font-face {
    font-family: futurabt-medium;
    src: url('../fonts/futurabt-medium.otf');
}

@font-face {
    font-family: titillium;
    src: url('../fonts/titilliumwebthin.ttf');
}

@font-face {
    font-family: advent-pro;
    src: url('../fonts/adventpro-regular.ttf');
}

@font-face {
    font-family: kaufman-bt;
    src: url('../fonts/kaufmann-bt.ttf');
}

//@import url('https://fonts.googleapis.com/css?family=Anton');

// VARIABLES
$main-color-white: #fff;
$main-color-blue:  #1175ee;


// BODY
body {
	font-family: Anton, sans-serif;
  overflow-x: hidden;
  * {
    box-sizing: border-box;
  }
}


// DEFAULT TAGS
.header,.about, .carrer, .skill, .project, .app, .contact footer {
	width: 100%;
	height: 100%;
	color: $main-color-white;

  // Defaul H1
	h1 {
    font-size:16px;
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
  }
}


// ICON MENU
.hamburger {
  position: fixed;
  background-color: transparent;
  padding: 3px 12px;
  top:40px;
  right: 5%;
  z-index: 100;
  cursor: pointer;
  transition: all cubic-bezier(0.4, 0.6, 0.24, 1.2) 0.5s;

  // lines Menu
  .line {
    width: 40px;
    height: 3px;
    background-color: $main-color-white;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
  }

  // Efeito Menu
  &.is-active {
    transform: rotate(90deg);
    margin-top: 20px;
    .line:nth-child(1) {
      width: 20px;
    }
    .line:nth-child(3) {
      width: 20px;
    }
  }
}

// MENU NAV
.menu-nav {
  display: flex;
	width: 100%;
	height: 42px;
  margin-top: 0px;
	position: absolute;
	z-index: 9;
	text-align: center;
	transition: all ease-in-out .2s;

  // Content Flex Nav - Logo and Select Laguage
  .content-flex-nav {
     display: flex;
     width: 100%;
     justify-content: center;
     margin: auto;

    // Logo menu
    .logo-header {
      width: 50%;
      height:34px;
      margin-left: 5%;

      // Img logo menu
      img{
        width: 34px;
        margin-left: 10px;
        float: left;
      }

      // Content name flex menu
      .name-menu {
        display: none;

        // Name menu
        h2 {
          font-size: 24px;
          font-family: 'Titillium Web', sans-serif;
          color: $main-color-blue;
          float: left;
          padding-left: 15px;
          padding-top: 3px;
        }
      }
    }

    //  Content Select Laguage Flex
    .select-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 50%;
      height: auto;

      // Select Laguage
      select {
        background-color:transparent;
        border-radius: 60px;
        background-image:url('../img/arrow_down.svg');
        background-position: top -1px right 1px;
        background-repeat:no-repeat;
        display: block;
        height: 30px;
        width: 150px;
        cursor: pointer;
        outline: none;
        letter-spacing: 1px;
        border: 2px solid $main-color-white;
        -webkit-appearance: none;
        -moz-appearance: none;
        line-height: 20px;
        padding-left: 20px;
        color: $main-color-white;
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        text-transform: uppercase;
        margin-top: 2px;
        margin-right:125px;
        margin-bottom: 0px;

        // hover select
        &:hover{
          background-color: $main-color-white;
          color: $main-color-blue;
          background-image:url('../img/arrow_down-b.svg');
        }
      }
    }
  }
}

// BACKGROUND WHITE MENU
.js-active {
  position: fixed;
	margin-top: 0px;
	top: 0!important;
	height:50px;
	background-color: $main-color-white ;
}

// BACKGRUOND TRANSPARENT MENU
.js-active-transparent {
    position: fixed;
  	margin-top: 42px;
  	top: 0!important;
  	height:42px;
  	background-color: transparent;
}

// PAGES
.pages {
  position: fixed;
	z-index: 9;
	right: 20px;
	top: 50%	;
	transform: translateY(-50%);
	text-align: center;

  // List Pages
	li {
		margin: 15px 0;

    // Links Pages
		a {
			display: inline-block;
			width: 14px;
			height: 14px;
			background-color: $main-color-white;
			border-radius: 50%;
			transition: all ease-in-out .3s;
			position: relative;
			transition: all ease .2s;
        &.is-active {
				background-color: $main-color-blue;
        }
        &:before {
        position: absolute;
        content: attr(data-page-title);
        display: none;
        color: $main-color-white;
        width: 100%;
        background-color: rgba(0,0,0,.8);
        left: -118px;
        width: 100px;
        padding: 4px 4px 4px 10px;
        border-radius: 8px 10px 2px 8px;
        text-align: left;
        height: auto;
        bottom: 100%;
        transition: all ease .5s;
        transform-origin: bottom right;
        transform: scale(0);
        }
        &:hover:before {
          display: block;
          transform: scale(1.1);
        }
    }
	}
}

// MENU toggleClass
.menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: all ease-out 0.3s;
  transform-origin: top right;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu .back-title-menu{
  width: 100%;
  height: 120px;
  background-color: $main-color-blue;

  h1{

    font-size: 24px;
    font-family: 'futurabt', arial;
    color: $main-color-white;
    padding-left: 15px;
    padding-top: 60px;
    text-align: center;

  }
}



// List Menu
.menu li {

  display: block;
  width: 50%;
  height: 25%;
  float: left;
  background-position: center center;
  background-size: cover;
  filter: grayscale(100%);
  transition: all 0.35s ease-in-out;
  opacity: 0;
}

// Itens Menu
.menu li:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.08);
  transform: translateX(-100%);
  transition-delay: 0.1s;
}
.menu li:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.08);
  transform: translateX(100%);
  transition-delay: 0.15s;
}
.menu li:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.08);
  transform: translateX(-100%);
  transition-delay: 0.2s;
}
.menu li:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.08);
  transform: translateX(100%);
  transition-delay: 0.25s;
}

.menu li:nth-child(5) {
  background-color:rgba(0, 0, 0, 0.08);
  transform: translateX(100%);
  transition-delay: 0.25s;
}

.menu li:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.08);
  transform: translateX(100%);
  transition-delay: 0.25s;
}

// Links Menu
.menu li a {
  width: 100%;
  height: 100%;
  //background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-in-out;
  text-align: center;
  display: block;
  color: $main-color-white;
  text-decoration: none;
  font-size: 3rem;
}
.menu li a span {
  font-family: 'Titillium Web', sans-serif;
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.menu li:hover {
  filter: grayscale(0);
  padding: 10px;
}
.menu li:hover a {
  background-color: $main-color-blue;
}
.menu.on {
  transform: scale(1);
  opacity: 1;
}
.menu.on li {
  opacity: 1;
  transform: translateX(0%);
}

// HEADER
.header-action {
  width: 100%;
  min-height:800px;
  background: url('../img/background-home.jpg')center;
  background-size: cover;
  display:flex;
  flex-direction: column;

  // Content Flex Home
  .content-flex-home {
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 200px;
    display: flex;
    justify-content: center;

    // Flex 2 col 50%
    .col-2flex {
      width: calc(100%/2);
      height: auto;
      margin: 0px;
    }

    // Texto Home
    .text-home {
      margin-left:60px;
      margin-top: 30px;

      // Name
      h1 {
        font-family: 'futurabt', arial;
        font-size: 40px;
        color: $main-color-white;
        text-transform: uppercase;
        text-align: left;
        margin-top: 100px;
        margin-bottom: 0px;
      }

      // Text Hello
      h2 {
        font-size: 34px;
        text-decoration: underline;
        font-family: 'Titillium Web', sans-serif;
        color: $main-color-white;
      }

      //  Text Profession
      h3 {
        margin-top: -25px;
        font-size: 30px;
        font-family: 'Titillium Web', sans-serif;
        color: $main-color-white;
      }
    }

    // class Picture Home
    .picture-perfil-profile {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 60px;

      // imagen picture-perfil-profile
      img {
        width: 300px;
      }
    }
  }

  // Content Flex Move Home
  .content-move {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    height:100px;
    margin-top: 90px;

    // Icon Move
    .icon-move {
      text-align: center;
      font-size: 40px;
      padding-top: 20px;

      // efeito hover icon move
      a{
        color: $main-color-white;
        :hover{
          color:$main-color-blue;
          border: 2px solid;
          border-radius: 30px;
          padding: 5px 12px 5px 12px;
          background-color: white;
        }
      }
    }
  }
}


// ABOUT
.about {
  background-color: $main-color-white;
  height: auto;
  margin-top: -20px;

    // Content Flex About
    .content-full-flex-about {
    display: flex;
    width: 100%;

    // Col Flex 50% Qualifications and Objetives
    .col-flex1 {
      display: flex;
      height: auto;
      width: calc(100%/2);
      height: auto;
      background-color: $main-color-blue;

      // Content Flex Qualifications and Objetives
      .plus-about {
        width: 100%;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        padding-top: 30px;

        // Flex contet Qualifications and Objectives
        .flex-obout {
          display: flex;
          flex-direction: column;
          width:80%;
          height:auto;
          margin-left: auto;
          margin-right: auto;

          // Title Qualifications and Objetives
          h2 {
            font-family: 'futurabt', arial;
            font-size: 24px;
            color:$main-color-white;
            text-align: center;
            padding-top: 20px;

          }

          // Paragraph Qualifications and Objetives
          p {
            font-family: 'Titillium Web', sans-serif;
            color:$main-color-white;
            font-size: 14px;
            text-align:left;
            line-height: 20px;
            margin-top: 20px;
            padding-bottom: 40px;
          }

          // Content Objetives ant Qualifications
          .obj-about .qual-about {
            width: 100%;
            height: 50%;
          }
        }
      }
    }

    // content- Picture About
    .picture-about {

      // img picture-about
      img {
        padding-top: 140px;
        width: 100%;
        height: auto;
        margin-bottom: -3px;
      }
    }

    // Content Flex Picture and About Me
    .about-2 {
      display: flex;
      height: auto;
      width:100%;

      // Flex 50% Picture and About Me
      .col-flex2{
        display: flex;
        height: auto;
        width: calc(100%/2);
      }

      // Content About Me
      .content-about {

        // Rede Social About Me
        .social-about {
          padding-top: 80px;
          padding-right: 40px;
          display: flex;
          justify-content: flex-end;

          // List Icon
          ul {
            display:flex;

            // Itens list
            li{
              padding: 10px 5px 10px 5px;

              // Link list
              a{

                // icon list
                i{
                  font-size: 32px;
                    color: $main-color-blue;
                }

                // hover list icon
                :hover{
                  color: $main-color-white;
                  border-radius: 30px;
                  padding: 6px 10px 6px 10px;
                  background-color: $main-color-blue;
                }
              }
            }
          }
        }
      }

      // Content About Me
      .text-about {
        width:80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top:160px;
        margin-left: auto;
        margin-right: auto;
        height: auto;

        // Title About Me
        h1 {
          font-family: 'futurabt', arial;
          font-size: 25px;
          color: $main-color-blue;
          text-transform: uppercase;
          text-align: left;
          padding-top: 30px;
        }

        // Paragraph About Me
        p {
          font-family: 'Titillium Web', sans-serif;
          color:$main-color-blue;
          font-size: 14px;
          margin-top: -10px;
          line-height: 20px;
        }

        // Name
        h2 {
          font-family: kaufman-bt;
          font-size: 24px;
          color: $main-color-blue;
          text-align: left;;
          padding-top: 20px;
          padding-bottom: 10px;
        }

        // Button Resume
        input {
          justify-content: center;
          width: 100%;
          height: 50px;
          max-width: 320px;
          border: 3px solid $main-color-blue;
          border-radius: 10px;
          background-color: $main-color-blue;
          color: $main-color-white;
          font-size: 24px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          margin-top: 15px;
        }
      }

      // link-resume
      .link-resume{
        display: flex;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        justify-content: center;

        // list link resume
        ul{
          display: flex;
          flex-direction: row;
          width: 85%;

          // Itens list resume
          li{

            padding-top: 5px;
            padding-bottom: 5px;
            border: 2px solid $main-color-blue;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 10px;
            border-radius: 10px;
            margin-left: 10px;
            margin-right: 10px;


            // Icon list resume
            i{
              color: $main-color-blue;

            }

            // link-resume
            a{
              display: flex;
              text-decoration: none;
              color: $main-color-blue;
              //justify-content: center
              //text-align: center;

              // text link-resume
              h3{
                padding-left: 5px;
                padding-right: 5px;
              }
            }

            // Hover link-resume
            :hover{
              //padding: 5px 20px 5px 10px;

              h3{
                //color: $main-color-white;
                padding: 0px 0px 0px 5px;
              }
            }
          }
        }
      }
    }
  }

}




// CARRER
.carrer {
  width: 100%;
  height: 100%;
  background: url('../img/back-carrer.jpg')center;
  background-size: cover;
  display:flex;
  flex-direction: column;

  //Content Full carrer
  .content-full-flex-carrer {
    //Display: flex;
    width: 100%;
    //Content Title
    .title-flex-carrer {
      height: 78px;
      background-color: $main-color-blue;

      // title
      h2 {
        font-family: 'futurabt', arial;
        font-size: 24px;
        color: $main-color-white;
        text-transform: uppercase;
        text-align: center;
        padding-top: 30px;
      }

    }

    // Timeline Carrer
    .time-line-carrer {
      width: 85%;
      height: auto;
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      padding-top: 100px;
      padding-bottom: 50px;

        // Mixins and Placeholders
        %clearfix {
        	&:after, &:before {
        		content: '';
        		display: block;
        		width: 100%;
        		clear: both;
        	}
        }

        .project-name {
          text-align: center;
          padding: 10px 0;
        }

        // Timeline
        #timeline {
        	width: 100%;
          margin: 30px auto;
        	position: relative;
          padding: 0 10px;
        	transition: all .4s ease;

        	&:before {
        		content:"";
        		width: 3px;
        		height: 100%;
        		background: $main-color-blue;
        		left: 50%;
        		top: 0;
        		position: absolute;
        	}

        	&:after {
        		content: "";
        		clear: both;
        		display: table;
        		width: 100%;
        	}

        	.timeline-item {
        		margin-bottom: 60px;
        		position: relative;
        		@extend %clearfix;

        		.timeline-icon {
        			background: $main-color-blue;
        			width: 48px;
        			height: 48px;
        			position: absolute;
        			top: 0;
        			left: 50%;
        			overflow: hidden;
        			margin-left: -23px;
              text-align: center;
        			border-radius:50%;

        			i {
        				position: relative;
        				top: 12px;
                font-size: 24px;
                text-align: center;
        			}
        		}

        		.timeline-content {
        			width: 40%;
        			background:$main-color-blue;
        			box-shadow:0 3px 0 rgba(0,0,0,0.1);
        			border-radius: 0px 20px 0px 0px;
        			transition: all .3s ease;

              .logotime-title{
                display: flex;
                width: 100%;
                border-bottom: 2px solid $main-color-blue;
                padding-bottom: 10px;
                padding-top: 20px;
                padding-left: 20px;

                .flex-12{
                  width: 12%;
                }

                .flex-88{
                  width: 88%;
                }
              }
              img{
                width:40px;

              }
        			h2 {
                font-family: 'futurabt-medium', arial;
                font-size: 18px;
                color: $main-color-white;
                text-transform: uppercase;

        				background: $main-color-blue;
        				//margin: -20px -20px 0 -20px;
                text-align: left;
                padding-top: 13px;

                line-height: 12px;
        				//font-weight: 300;
        				border-radius: 3px 3px 0 0;
        			}
              h1{
                padding-top: 20px;
                padding-left: 20px;
                padding-right: 20px;
                font-family: 'Titillium Web', sans-serif;
                font-size: 14px;
                //font-weight: 400px;
              }
              p{
                //padding-top: 20px;
                padding-bottom: 40px;
                padding-left: 20px;
                padding-right: 20px;
                font-family: 'Titillium Web', sans-serif;
                font-size: 14px;
                text-align:center;

              }

        			&:before {
        				content: '';
        				position: absolute;
        				left: 40%;
        				top: 20px;
        				width: 0;
        				height: 0;
        				border-top: 7px solid transparent;
        				border-bottom: 7px solid transparent;
        				border-left:7px solid $main-color-blue;
        			}

        			&.right {
        				float: right;
                border-radius:20px 0px 0px 0px;

        				&:before {
        					content: '';
        					right: 40%;
        					left: inherit;
        					border-left: 0;
        					border-right: 7px solid $main-color-blue;
        				}
        			}
        		}
        	}
        }



        // list icon
        ul{
          //padding-left:20px;
          padding-bottom: 30px;
          //margin-left: auto;
          //margin-right: auto;
          text-align: center;
          //display: inline-block;
          li{
            display: inline-block;
            padding-right: 10px;
            a{
              color: $main-color-white;

              i{
                border: 2px solid $main-color-white;
                border-radius: 30px;
                width: 40px;
                height: 40px;
                padding-top: 10px;
                }:hover{
                  color:$main-color-blue;
                  border: 2px solid;
                  border-radius: 30px;
                  //padding: 6px 10px 6px 10px;
                  background-color:$main-color-white ;
                }

            }

            h3{
              padding-top: 10px;
              padding-left:20px;
              padding-right: 20px;
              font-family: 'Titillium Web', sans-serif;
              font-size: 14px;
              text-align: center;
              //font-weight: 400px;
            }


          }
        }


        @media screen and (max-width: 768px) {
        	#timeline {
        		margin: 30px;
        		padding: 0px;
            width: 90%;
        		&:before {
        			left: 0;
        		}

        		.timeline-item {
        			.timeline-content {
        				width: 90%;
        				float: right;

        				&:before, &.right:before {
        					left: 10%;
        					margin-left: -6px;
        					border-left: 0;
        					border-right: 7px solid $main-color-blue;
        				}
        			}

        			.timeline-icon {
        				left: 0;
        			}
        		}
        	}
        }

    }
    // Next step
    .next-step{
      display: none;
      border:2px solid $main-color-white;
      width: 40%;
      background: $main-color-white;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      border-radius: 20px;
      margin-bottom: 100px;
        h1{
          font-family: 'futurabt-medium', arial;
          font-size: 18px;
          color: $main-color-blue;
          text-transform: uppercase;
          text-align: center;
          padding-top: 50px;
          line-height: 0px;
        }
    }
  }
}

//  SKILLS
.skill {
  width: 100%;
  background: url('../img/background-home.jpg') center;
  background-size: cover;

  //Content Full Skills
  .content-full-flex-skills {
    width: 100%;

    // content Title
    .title-flex-skills {
      height: 78px;
      background-color: $main-color-blue;
      // title
      h2 {
        font-family: 'futurabt', arial;
        font-size: 24px;
        color: $main-color-white;
        text-transform: uppercase;
        text-align: center;
        padding-top: 30px;
      }
    }

    // Content skils
    .content-skills{
      width: 85%;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      padding-top: 100px;
      padding-bottom:50px;

      // Types Skills
      .types-skills{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;

        // Content skills 2
        .content-2skills{
          width: 100%;
          display: flex;
          flex-direction: row;

          // Content flex
          .col-flex30-tecs{
            width: calc(40%);
            height: auto;
            flex-direction: column;

            // content text tecnologias
            .flex100title-tecs{
              padding-top: 40px;

              // text tecnologias
              h1{
                font-family: 'futurabt', arial;
                font-size: 24px;
                color: $main-color-white;
              }
            }

            // Content description
            .flex100content-tecs{
              display: flex;
              //justify-content: center;
              ul{
                padding-left: 50px;
                li{
                  padding-top: 5px;
                }
              }
            }
          }

          // Content flex bars
          .col-flex40-skills{
            width: 60%;
            height: auto;
            display: flex;

            // Left bars
            .left-bar{
              width: 32%;
              display: flex;

              // Line bars
              .line-bar{
                width:100%;
                height: 2px;
                background-color: $main-color-white;
                margin-top: auto;
                margin-bottom: auto;
              }
            }

            // Right bars
            .right-bar{
              width: 32%;
              display: flex;

              // Line bars
              .line-bar{
                width:100%;
                height: 2px;
                background-color: $main-color-white;
                margin-top: auto;
                margin-bottom: auto;
              }

            }

            // Content circ bars
            #bars {
              display: flex;
              width: 36%;
              height: 100%;
            	overflow: hidden;
              justify-content: center;


            }

            // bars
            .bar {
              //height: 50%;
              margin-top: auto;
              margin-bottom: auto;
            	text-align: center;
            }

            // Circuls bars
            .bar-circle {
            	margin: 0.7em auto;
              background-color: $main-color-blue;
              border-radius:50%;
              //margin-top: 40px;
              display: flex;
              width: 100%;

            }
          }
        }

        // Content logos
        .col-flex30-logos{
          width: 40%;
          height: 250px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          // list logos
          ul{
            padding-top: 10px;
            display: flex;

            // link logos
            a{

              // Itens list logos
              li{
                display: inline-block;
                background-color: $main-color-white;
                border-radius: 30px;
                margin-left: 10px;
                width: 52px;
                height: 52px;
              }

              // Hover list logos
              :hover{
                background-color: $main-color-blue;
                border-radius: 30px;

                 svg g {
                  fill: $main-color-white;
                  stroke: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

// PROJECT
.project {
  width: 100%;
  background: url('../img/background-home.jpg')center;
  background-size: cover;
  display:flex;
  flex-direction: column;
  padding-bottom: 100px;

  // content-full-flex-projects
  .content-full-flex-projects {
    width: 100%;

    .title-flex-projects-photo {
      display: flex;
      .col-title-project{
        width: calc(100%/3);
        display: flex;
        justify-content: center;
      }
    }

    // Content Title Photo
    .title-flex-projects-photo{

      .col-title-project {
        width: 100%;
        img{
          display: flex;
          justify-content: center;
          margin-top: -120px;
        }
      }
    }
    // content Title
    .title-flex-projects {

      height: 78px;
      background-color: $main-color-blue;
      display: flex;
      margin-top: -200px;

      .col-title-project {
        width: calc(100%/3);
        h2 {
          font-family: 'futurabt', arial;
          font-size: 24px;
          color: $main-color-white;
          text-transform: uppercase;
          text-align: center;
          padding-top: 30px;
        }
      }
    }

    .content-projects {

      width: 100%;
      //height: 480px;
      //max-height: 480px;
      display: flex;
      //flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      padding-top: 40px;
      padding-bottom:0px;
      margin-top: 160px;
      margin-bottom: 20px;
      background-color: $main-color-blue;
      padding-left: 100px;
      padding-right: 100px;

      .content-proj{
        width:50%;
        //border: 2px solid red;
        .title-typeproject{

          h1{
            font-family: 'futurabt', arial;
            font-size: 20px;
            color: $main-color-white;
            //text-transform: uppercase;
            text-align: center;
            padding-top: 50px;
          }
        }

        .select-project{
          display: flex;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          margin-top: -20px;
          padding-top: 20px;
          padding-bottom: 40px;
          //background-color: rgba(17, 117, 238, 0.2);
          //border-radius:20px 20px 0px 0px;
          width: 75%;
          flex-direction:row;

          .leftlist{
            padding-left:30px;
            padding-right: 30px;
            a{
              border: 2px solid $main-color-white;
              padding: 8px 12px 8px 12px;
              display: flex;
              border-radius: 20px;
              text-decoration: none;
              color: $main-color-white;
            }
            :hover{
              color: $main-color-blue;
              background-color: $main-color-white;
              border: 2px solid $main-color-blue;
            }
          }

          .slider{
            display: flex;
            flex-direction: column;
            width: 100%;
            ul li img{
              display: flex;
              justify-content: center;
              width: 40px;
              margin-left: auto;
              margin-right: auto;

            }
          }

          .rightlist{
            padding-right: 30px;
            padding-left:30px;

            a{
              border: 2px solid $main-color-white;
              padding: 8px 12px 8px 12px;
              display: flex;
              border-radius: 20px;
              text-decoration: none;
              color: $main-color-white;
            }
            :hover{
              color: $main-color-blue;
              background-color: $main-color-white;
              border: 2px solid $main-color-blue;
            }
          }



        }

        .macbook{
          display: flex;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          margin-top: -10px;
          margin-bottom: -60px;
          width: 100%;
        }

        .gifmac{
          display: flex;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          margin-top: -300px;
          //margin-bottom: -60px;
          width: 75%;
        }
      }

      .content-desc{
        width:50%;
        //height: 40px;
        //border: 2px solid white;
        padding-top: 150px;
        padding-left: 100px;
        padding-right: 100px;

        .title-des-proj{
          h1{
            //margin-top: -100px;
            font-family: 'futurabt', arial;
            font-size: 20px;
            color: $main-color-white;
            text-transform: uppercase;
            text-align: center;
          }
        }
        .desc-proj-select{
          p{
            font-family: 'Titillium Web', sans-serif;
            color: $main-color-white;
            font-size: 14px;
            //margin-top: -10px;
            line-height: 20px;
          }

        }

        .links-desc-proj{
          margin-top: 30px;
          ul{
            //padding-bottom: 30px;
            text-align: center;
          }
          li{
            display: inline-block;
            padding-right: 10px
          }

          a{
            color: $main-color-white;

            i{
              border: 2px solid $main-color-white;
              border-radius: 30px;
              width: 40px;
              height: 40px;
              padding-top: 10px;}
          }

        }


      }
    }

  }

}




// APP
.app {
  width: 100%;
  min-height:300px;
  background-color: $main-color-white;

  .content-full-flex-app{
    width: 100%;
    display: flex;

    .text-link-app{

      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 20px;
      width: 60%;

      h2{
        display: flex;
        justify-content: center;
        font-family: 'futurabt', arial;
        font-size: 20px;
        color:$main-color-blue;
        text-transform: uppercase;

      }

      ul{
        display: flex;
        justify-content: center;
        padding-top: 10px;


        li{
          padding: 10px 5px 10px 5px;

          a{
              i{
                font-size: 25px;
                color: $main-color-blue;
                //padding-left: 12px;
                }

                :hover{
                  color:$main-color-white;
                  border: 2px solid;
                  border-radius: 30px;
                  padding: 6px 10px 6px 10px;
                  background-color: $main-color-blue;
                }

          }

        }

      }
    }

    .picture-smartyphone{

      display: flex;
      justify-content: center;
      width: 40%;
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: $main-color-white;

      img{
        width: 70%;
        padding-left: 20%;
        padding-right: 20%;
        height: 100%;
      }
  }
}
}




// CONTACT
.contact {
  width: 100%;
  min-height:800px;
  background: url('../img/background-home.jpg')center;
  background-size: cover;
  display:flex;

  // Content full flex contact
  .content-full-flex-contact {
    display: flex;
    flex-direction: column;
    width: 100%;

    // Content Title contact
    .title-flex-contact {
      height: 78px;
      width: 100%;
      background-color: $main-color-blue;

      // title
      h2 {
        font-family: 'futurabt', arial;
        font-size: 24px;
        color: $main-color-white;
        text-transform: uppercase;
        text-align: center;
        padding-top: 30px;
      }

    }

    // Contact flex
    .contact-flex {
      width: 40%;
      min-height: 370px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 150px;
      background:rgba(17, 117, 238, 0.5);
      padding-top: 70px;
      padding-bottom: 50px;

      // List contacts
      ul {

        // Itens list contact
        li{
          display:flex;
          padding-top: 20px;
          padding-left: 50px;

          // Icon itens contacts
          i{
          font-size: 30px;
          color: $main-color-white;
          text-align: left;
          display: inline;
          }

          // Text itens contacts
          h2 {
          font-family: 'futurabt', arial;
          font-size: 28px;
          color: $main-color-white;
          padding-left:10px;
          }
        }
      }
    }

    // Content text contact
    .text-contact-flex{
      display: flex;
      justify-content: center;
      padding-top: 50px;

      // Text contact
      h3{
        font-family: 'futurabt', arial;
        font-size: 30px;
        color: $main-color-white;
        text-transform: uppercase;
      }
    }

    // Button contact
    .button-contact{
      display: flex;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 30px;
      width: 30%;
      margin-left: auto;
      margin-right: auto;

      // Href button contact
      a{
        display: flex;
        text-decoration: none;
        color: $main-color-white;
        width: 100%;

        // Icon button contact
        i{
          display: flex;
          justify-content: center;
          border: 2px solid $main-color-white;
          border-radius: 10px;
          width: 100%;
          height: 60px;
          padding-top: 12px;
          font-size: 30px;
        }
      }

      // Hover button contact
      :hover {
        color: $main-color-blue;
        border-color: $main-color-blue;
        background-color: $main-color-white;
        border-radius: 10px;
      }
    }

    // Content form mensage
    #form-main{
      display: flex;
      justify-content: center;
      width: 40%;
      margin-left: auto;
      margin-right: auto;

      // Feedback page mensage
      #feedback-page{
	      text-align:center;
      }

      // Div Form
      #form-div {
      	padding-top:35px;
      	padding-bottom:50px;
      	width: 100%;
        display: flex;
        justify-content: center;

      }

      // Form
      .form{
        width: 100%;
      }

      // Feedbcks input
      .feedback-input {
      	color:$main-color-white;
      	font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
      	font-size: 18px;
      	border-radius: 20px;
      	line-height: 22px;
      	background-color: rgba(0, 0, 0, 0.08);
      	padding: 13px 13px 13px 54px;
      	margin-bottom: 10px;
      	width:100%;
      	box-sizing: border-box;
        border: 2px solid transparent;
      }

      // Feedback input focused
      .feedback-input:focus{
      	background: #fff;
      	box-shadow: 0;
      	border: 2px solid $main-color-blue;
      	color: $main-color-blue;
      	outline: none;
        padding: 13px 13px 13px 54px;
      }

      // Focused mensage
      .focused{
      	color:$main-color-blue;
      	border:$main-color-blue solid 3px;
      }

      /* Icons  inputs form --------- */

      //  Input name
      #name{
      	background-image: url("../img/name.svg");
      	background-size: 30px 30px;
      	background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      // Focus name
      #name:focus{
      	background-image: url("../img/nameb.svg");
      	background-size: 30px 30px;
      	background-position: 8px 5px;
        background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      // Input emai
      #email{
      	background-image: url("../img/email.svg");
      	background-size: 30px 30px;
      	background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      // Focus email
      #email:focus{
      	background-image: url("../img/email.svg");
      	background-size: 30px 30px;
        background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      // Input comment
      #comment{
      	background-image: url("../img/comment.svg");
      	background-size: 30px 30px;
      	background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      // Comment
      textarea {
          width: 100%;
          height: 150px;
          line-height: 150%;
          resize:vertical;
      }

      // Hover inputs form
      input:hover, textarea:hover,
      input:focus, textarea:focus {
      	background-color:$main-color-white;
        color: $main-color-blue;
        border: 2px solid $main-color-blue;
      }

      // Hover name
      #name:hover{
        background-image: url("../img/nameb.svg");
      }

      // Hover email
      #email:hover{
        background-image: url("../img/emailb.svg");
      }

      // Hover comment
      #comment:hover{
        background-image: url("../img/commentb.svg");
      }

      // Button send mensage
      #button-blue{
      	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      	float:left;
      	width: 100%;
      	border: $main-color-blue solid 2px;
      	cursor:pointer;
      	background-color: $main-color-blue;
      	color:$main-color-white;
      	font-size:24px;
      	padding-top:22px;
      	padding-bottom:22px;
      	transition: all 0.3s;
        margin-top:-4px;
        font-weight:700;
        border-radius: 20px;
      }

      // Hover button send
      #button-blue:hover{
        background-color: $main-color-white;
      	transition: .3s ease;
      	color: $main-color-blue;
      }

      // Button send hover
      .submit:hover {
      	color: $main-color-blue;
      }

      // Ease
      .ease {
      	width: 0px;
      	height: 74px;
      	background-color: $main-color-white;
      	transition: .3s ease;
      }

      // Hover ease
      .submit:hover .ease{
        width:100%;
        background-color:$main-color-white;
        border-radius: 20px;
      }
    }

    // Content move app
    .moveup-contact{
      display: flex;
      justify-content:flex-end;
      padding-bottom: 10px;
      padding-right: 50px;
      width: 100%;

      // Href Move up to Home
      a{
        display: flex;
        justify-content:flex-end;
        color: $main-color-white;
        text-decoration: none;
        transition: all ease .5s;

        // Icon button move up to Home
        i{
          display: flex;
          justify-content:center;
          border: 2px solid $main-color-white;
          border-radius: 30px;
          width: 60px;
          height: 60px;
          padding-top: 10px;
          font-size: 30px;
        }
      }

      // Hover button up to Home
      :hover {
        color: $main-color-blue;
        border-color: $main-color-blue;
        border-radius: 30px;
        background-color: $main-color-white;
      }
    }
  }
}




// FOOTER
footer {
  width: 100%;
  height: 90px;
  background-color: $main-color-blue;
  display: flex;

  .content-full-flex-footer{
    width: 90%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    .left-footer{
      display:flex;
      width: 50%;
      height: 100%;
      padding-top: 20px;
      padding-bottom:20px;
      img{
        height:100%;
      }

      h3{
        font-family: 'Titillium Web', sans-serif;
        font-size: 24px;
        color: $main-color-white;
        margin-top: 8px;
        margin-left: 10px;
      }
    }

    .right-footer{
      width: 50%;
      height: 100%;
      padding-top: 20px;
      padding-bottom:20px;
      padding-right: 10px;
      display: flex;
      justify-content: flex-end;

      i{
        font-size: 32px;
        color: $main-color-white;
        padding-left: 10px;
      }
    }
  }
}


/////  Media querys ///////

// Desktop and Tablets landcaspe
@media screen and (max-width: 750px) {


  .menu li{
    height: 20%;
  }
  .menu li a span {
    font-size: 20px;
  }


    // ABOUT
    .about{
      .content-full-flex-about{
        .about-2{
          .text-about{
            margin-top: 120px;
          }

          .link-resume{
            margin-top: -30px;
          }
        }
      }
    }

    // CONTACT
    .contact{
        .content-full-flex-contact {
            .contact-flex{
              width: 70%;
            }
        }
    }
}

// Desktop and Tablets landcaspe
@media screen and (max-width: 1024px) {
    // ABOUT
    .about{
      .content-full-flex-about{
        .about-2{
          .text-about{
            margin-top: 90px;
          }
        }
      }
    }

    // CONTACT
    .contact{
        .content-full-flex-contact {
            .contact-flex{
              width: 70%;
            }
        }
    }
}

// TABLETS
@media screen and (max-width: 979px) {

  // Menu Fixo
  .menu-nav {

    // Content Flex Menu
    .content-flex-nav{

      // Select
      .select-header select {
      padding-left: 20px;
      padding-right: 25px;
      margin-right: 110px;
      }
    }
  }

  // Home
  .header-action {

    // Content Flex Home
    .content-flex-home {
        flex-direction: column;
        margin-top: 150px;

        // Content Text Home
        .col-2flex {
          width: 100%;

          // Text Home
          .text-home {
            margin-left: 0px;
            margin-top: 10px;

              // Name
              h1 {
                text-align: center;
                font-size: 30px;
                margin-top: 50px;
              }

              // Text Hello
              h2 {
                font-size: 30px;
                text-align: center;
              }

              // Name Profection
              h3 {
                font-size: 20px;
                text-align: center;
              }
            }
          }

          // Content Picture Home
          .picture-perfil-profile {
            justify-content: center;
            padding-right: 0px;

            // Image Profile Home
            img {
              width: 225px;
              height: 250px;
              padding-top: 20px;
            }
          }
        }
    }

    // Content Flex About
    .about .content-full-flex-about {
      flex-direction: column;

      // Content About
      .about-2 {
        flex-direction:row;

        // Text About
        .col-flex2 {
          width: 100%;

          // Rede Social About
          .content-about .social-about {
            padding-top: 50px;

            // Lista Icon Rede Social
            ul li i {
              font-size: 25px;
            }

          }
        }

        // Text About
        .text-about {
          margin-top: 80px;
          margin-bottom: 40px;
        }

        // Picture About
        .picture-about img {
          padding-top: 100px;
        }
      }

      // Flex About
      .col-flex1{
        width: 100%;

        // Contet About
        .plus-about .obj-about .flex-obout {
          padding-top: 40px;
        }

        // Content  Qualifications and Objectives
        .plus-about .qual-about .flex-obout {
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
    }
    // CARRER
    .carrer {
      .content-full-flex-carrer {

        .title-flex-carrer {
          height: 78px;
          background-color: $main-color-white;

          h2{
            color: $main-color-blue;
          }
        }
        .time-line-carrer{
          padding-top: 50px;
        }

        .next-step{
          width: 70%;
          margin-bottom: 50px;
          margin-top: -82px;
          margin-left: 120px;
          border: 2px solid $main-color-blue;
          h1{
            font-size: 12px;
          }
        }
      }
    }

    // SKILLS
    .skill{
      .content-full-flex-skills{
        .title-flex-skills{
          background-color: $main-color-blue;
          h2{
            color: $main-color-white;
          }
        }
        .content-skills {
          .types-skills{
            flex-direction: column;
            .col-flex30-logos{
              height: auto;
              justify-content: center;
              width: 100%;
              display: grid;
              padding-top: 30px;
            }
            .content-2skills{
              flex-direction: column-reverse;
              .col-flex30-tecs{
                width: 100%;

                .flex100content-tecs{
                  justify-content: center;
                  ul{
                    padding-left: 0px;
                  }
                }
              }

              .col-flex40-skills{
                width: 100%;
              }
            }
          }
        }
      }
    }

    //APP
    .app{
      .content-full-flex-app{
        .text-link-app{
          h2{
              text-align: center;
              padding-left: 30px;
          }
        }
      }
    }

    // PROJECT
    .project {
      padding-bottom: 20px;
      .content-full-flex-projects {
        .title-flex-projects-photo {
          .col-title-project{
            height: 100%;

            img{
              width: 25%;
              height: 100%;
              margin-top: -40px;
            }
          }
        }

        .title-flex-projects{
          margin-top: -140px;
        }

        .content-projects {
          padding-left: 50px;
          padding-right: 50px;
          margin-top: 10px;
          .content-proj .gifmac{
            margin-top: -170px;
        }
        .content-desc{
          padding-top: 100px;
          padding-left: 50px;
          padding-right: 50px;
          padding-bottom: 50px;
        }
      }
      }

    }






    // CONTACT
    .contact {
      .content-full-flex-contact{
        .contact-flex {
          display: flex;
          margin-top: 100px;
          justify-content: center;
          width: 70%;
          min-height: inherit;
          padding-bottom: 70px;
        }
        #form-main{
          width: 70%;
        }
        .button-contact{
          width: 70%;
        }
      }
    }
}

// SMARTYPHONES
@media screen and (max-width: 500px) {

  // Icon menu
  .hamburger{
    top: 20px;
    right: 5%;
  }
  // Menu
  .menu-nav {

    margin-top: -18px;

    // Content Menu Flex
    .content-flex-nav {

      // Logo Menu
      .logo-header {
        width: 30%;
        img{
          margin-left: -20px;
        }
      }

      // Select Menu
      .select-header select {
        padding-left: 12px;
        padding-right: 25px;
        margin-right: 60px;
        font-size: 12px;
      }

      // Name Profile Menu
      .logo-header .name-menu h2 {
        display: none;
      }
    }
  }

  .header-action {
    min-height: 760px;
    .content-flex-home {
      margin-top: 90px;

      .col-2flex{
        .text-home{
          h3{
            font-size: 16px;
          }
        }
      }
    }
  }
  .menu li{
    height: 15%;
  }
  .menu li a span {
    font-size: 20px;
  }

  // About
  .about {
    margin-top: -60px;
  }

  // Content Flex About
  .about .content-full-flex-about .about-2 {
    flex-direction: column-reverse;

    // Content Rede Social
    .col-flex2 .content-about .social-about {
      padding-top: 80px;

      ul li i{
        font-size: 32px;
      }
    }

    // Picture About
    .picture-about img {
      padding-top: 60px;
    }

    .link-resume{
      margin-top: -30px;
      width: 90%;
    }
  }



  // Carrer
  .carrer .content-full-flex-carrer {

    .title-flex-carrer {
    background-color: $main-color-white;
      h2{
      color: $main-color-blue;
      }
    }
    .time-line-carrer{
      padding-top: 0px;
      width: 90%;

    #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
    &:before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        width: 90%;
        float: right;

        &:before, &.right:before {
          left: 10%;
          margin-left: -6px;
          border-left: 0;
          border-right: 7px solid $main-color-blue;
        }

        .logotime-title{

          .flex-12{
            width: 20%;
          }

          .flex-88{
            width: 75%;

            h2 {

                font-size: 12px;
                text-align: left;
                padding-top: 10px;
                line-height: 15px;
                padding-right: 10px;
                padding-left: 5px;

            }
          }
        }
      }

      .timeline-icon {
        left: 0;
        }


      }
    }

    }
    .next-step{
      width: 65%;
      margin-bottom: 50px;
      margin-top: -84px;
      margin-left: 80px;
      border: 2px solid $main-color-blue;
      h1{
        font-size: 12px;
      }
    }
  }
  // Skills
  .skill {

    .content-full-flex-skills{

      .content-skills{
        padding-top: 20px;
        .types-skills{
            flex-direction: column;

          .content-2skills{
            flex-direction:column-reverse;
            .col-flex40-skills{
              width: 100%;
              .bar-circle {
                margin-top: 0px;
              }
            }
            .col-flex30-tecs{
              width: 100%;
            }
          }
          .col-flex30-logos{
            width: 100%;
            height: auto;
            padding-bottom: 20px;
            padding-top: 30px;

            ul{
              margin-left: auto;
              margin-right: auto;
            }

          }
        }

      }
    }
  }

  // Projects
  .project {
    padding-bottom: 10px;
    .content-full-flex-projects {

    .title-flex-projects-photo{
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
      .col-title-project{
        height: 100%;

        img{
          width: 70%;
          height: 100%;
          margin-top: -80px;
        }
      }
    }

    .title-flex-projects{
      height: 200px;
      margin-top: -125px;
      flex-direction: column;
      .col-title-project{
        width: 100%;


        h2{
          padding-top:140px;
        }
      }
    }

    .content-projects{
      flex-direction: column;
      margin-top: 0px;
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: inherit;

      .content-proj{
        width: 100%;

        .select-project{
          width: 90%;
          .rightlist{
            padding-right: 5px;
            padding-left: 5px;
          }

          .leftlist{
            padding-right: 5px;
            padding-left: 5px;
          }
        }
        .gifmac{
          margin-top: -185px;
        }
      }

      .content-desc{
        width: 100%;
        padding-top: 80px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
      }
    }
  }
  }

  // app
  .app .content-full-flex-app {
    flex-direction: column;

    .text-link-app{
      width: 100%;
      padding-top: 70px;

      h2{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
      }
    }

    .picture-smartyphone{
      width: 100%;
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 30px;
      padding-bottom: 0px;

      img{
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        height: 100%;
        padding-bottom: 30px;
      }
    }
  }

  // Contact
  .contact {
    min-height:inherit;

    .content-full-flex-contact {

      .contact-flex {
        width: 90%;
        margin-top: 20px;
        padding-top: 50px;
        padding-bottom: 60px;
        min-height: inherit;

        ul li{
          padding-left: 0px;
          justify-content: center;

          i{
            font-size: inherit;
          }

          h2{
            font-size: inherit;
          }
        }
      }

      .text-contact-flex{

        padding-top: 20px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;

         h3{
          font-size: inherit;
         }
      }

      #form-main{
        width: 80%;
      }
      .button-contact{
        width: 80%;
        padding-top: 10px;
      }

      .moveup-contact{
        display: none;
      }
    }
  }

  footer .content-full-flex-footer {
    .left-footer {
      width: 70%;

      h3{
        font-size: inherit;
        margin-top: 18px;
      }
    }

    .right-footer {
      padding-top: 30px;
    }

  }


}

// Smatphone Iphone Plus
@media screen and (max-width: 414px){
  .project .content-full-flex-projects .content-projects .content-proj .gifmac{
    margin-top: -210px;
  }
}
// Smatphone 320 Iphone 5
@media screen and (max-width: 320px) {

  .header-action {
    min-height: 620px;

    .content-flex-home {
      margin-top: 90px;

      .col-2flex{
        .text-home{
          h1{
            font-size: 25px;
            margin-top: 40px;
          }

          h2{
            font-size: 25px;
          }
          h3{
            font-size: 16px;
          }

        }
      }
    }
    .content-move{
      margin-top: 15px;
    }
  }

  // Content Flex About
  .about .content-full-flex-about .about-2 {
    flex-direction: column-reverse;
    .text-about{
      margin-top: 50px;
    }
    // Content Rede Social
    .col-flex2 .content-about .social-about {
      padding-top: 50px;

      ul li i{
        font-size: 32px;
      }
    }

    // link-resume
    .link-resume{
      margin-top: -30px;
      width: 80%;

      ul{
        width: 100%;
      }
    }

    // Picture About
    .picture-about img {
      padding-top: 60px;
    }
  }

  // CARRER
  .carrer{
    .content-full-flex-carrer{
      .time-line-carrer{
        width: 100%;

        #timeline .timeline-item{
          .timeline-icon{
            width: 40px;
            height: 40px;
            margin-left: -20px;

            i{
              top: 10px;
              font-size: 20px;}
          }
          .timeline-content{
            .logotime-title{
              padding-top: 15px;
              .flex-12{
                width: 20%;
              }
              .flex-88 h2{
                font-size: 12px;
                padding-top: 10px;
              }
            }
          }
        }
      }

      .next-step{
        width: 75%;
        margin-bottom: 50px;
        margin-top: -84px;
        margin-left: 50px;
        border: 2px solid $main-color-blue;
        h1{
          font-size: 12px;
        }
      }
    }
  }

  //PROJECTS
  .project {
    padding-bottom: 10px;
    margin-bottom: -30px;
    .content-full-flex-projects {
      .title-flex-projects{

        height: 150px;
        margin-top: -95px;

        .col-title-project{
          h2{
            padding-top: 110px;
            color: $main-color-white;
          }
        }

      }
      .title-flex-projects-photo {
        .col-title-project{
          height: 100%;

          img{
            width: 70%;
            height: 100%;
            margin-top: -80px;
          }
        }
      }

      .content-projects{
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: inherit;

        .content-proj{
          width: 100%;

          .select-project{
            width: 90%;
            .rightlist{
              padding-right: 5px;
              padding-left: 5px;
            }

            .leftlist{
              padding-right: 5px;
              padding-left: 5px;
            }
          }
          .gifmac{
            margin-top: -155px;
          }
        }

        .content-desc{
          width: 100%;
          margin-top: -20px;
          padding-left: 20px;
          padding-right: 22px;
          padding-bottom: 40px;

          .desc-proj-select p{
            text-align: center;
          }
        }
      }
    }
  }

  // APP
  .app {
    .content-full-flex-app {
      .text-link-app{
        padding-top: 60px;

        ul{
          padding-bottom: 20px;
        }
      }
    }
  }



}
