doctype
html
  head 
    title Kleiton Azevedo - Profile
    link(rel="stylesheet", href="css/main.css")
    //link(href="https://fonts.googleapis.com/css?family=Titillium+Web", rel="stylesheet")
    
  body
    header
      div.menu-section
         nav
          ul(role="navigation", class="hidden")
            li Home
            li About
            li Carrer
            li Skills
            li Projects
            li App
            li Contatos
            ul.social
              li linkedin
              li github-btn
              li youtube

      div.container-header
        div.col-2flex
          div.logo-header
            h1 Logo header
            img(src="img/logo-header.png", name="Logo K header")
        div.col-2flex
          div.select-flex
            select
              option Language
              option Ingles
              option Portugues
            div.icon-menu
               
      div.container-content-header
        div.col-2flex
          div.text-header
            hgroup
              h2 Hello!
              h1 I am </br> Kleiton Azevedo
              h3 Full Stack Web Developer
        div.col-2flex
          div.picture-perfil-profile
            img(src="img/FotoPerfilHome.png", name="picture-perfil-profile header")
      div.container-move-header
        div.col-1flex
          div.icon-move
            i(class="fa fa-angle-down", aria-hidden="true")
            script(src="js/jquery.js", type="text/javascript")
            script(src="js/functions.js", type="text/javascript")        
