doctype
html
  include inc/head
body  
  include inc/home-br
  include inc/about-br
  include inc/carrer-br
  include inc/skills-br
  include inc/project-br
  //include inc/app-br
  include inc/contact-br
  include inc/footer
