// Smatphone Iphone 6
@media screen and (max-width: 375px){

  .header-action {
    min-height: 730px;
  }
  .project .content-full-flex-projects .content-projects {
    padding-top: 20px;
    .content-proj .gifmac{
    margin-top: -190px;
    }
  }
}
