// Smatphone Nexus
@media screen and (max-width: 412px){
  .project .content-full-flex-projects .content-projects {
    padding-top: 20px;
    .content-proj .gifmac{
    margin-top: -210px;
    }
  }
  .contact .content-full-flex-contact .text-contact-msm-flex h3 {
    font-size: 25px;
    padding-bottom: 30px;
  }
}
