// Smatphone Iphone Plus
@media screen and (max-width: 414px){
  .header-action .content-flex-home {
    margin-top: 150px;
 }

 .header-action {
    min-height: 820px;
  }

  .header-action .content-move {
    margin-top: 100px;
  }
  .project .content-full-flex-projects .content-projects .content-proj .gifmac{
    margin-top: -215px;
  }
}
