// Smartwacht
@media screen and (max-width: 214px) {

  .menu-nav .content-flex-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }

  .pages {
    display: none;
  }

  .header-action .content-flex-home {
    margin-top: 50px;
  }

  .header-action .content-flex-home .col-2flex .text-home h1 {
    margin-top: 40px;
  }

  .menu-nav {
    display: none;
  }

  .carrer .content-full-flex-carrer .time-line-carrer #timeline {
    width: 100%;
  }

  .carrer .content-full-flex-carrer .time-line-carrer ul {
    padding-bottom: 20px;
  }

  .carrer .content-full-flex-carrer .time-line-carrer ul li {
    padding-right: 0px;
  }

  .carrer .content-full-flex-carrer .time-line-carrer #timeline .timeline-item .timeline-content h1 {
    padding-top: 80px;
  }

  .about .content-full-flex-about .about-2 .text-about p {
    font-size: 16px;
    line-height: 30px;
  }

  .about .content-full-flex-about .col-flex1 .plus-about .flex-obout p {
    font-size: 16px;
    line-height: 30px;
  }

  .carrer .content-full-flex-carrer .time-line-carrer #timeline .timeline-item .timeline-content h1 {
    font-size: 16px;
    line-height: 20px;
  }

  .carrer .content-full-flex-carrer .time-line-carrer #timeline .timeline-item .timeline-content p {
    font-size: 16px;
    padding-bottom: 70px;
    line-height: 20px;
  }
  .carrer .content-full-flex-carrer .next-step h1 {
    font-size: 8px;
  }
  .skill .content-full-flex-skills .content-skills .types-skills .col-flex30-logos {
    display: none;
  }
  .content-skills .types-skills .content-2skills .col-flex30-tecs .flex100content-tecs ul li {
    font-size: 16px;
  }
  .project .content-full-flex-projects .content-projects .select-projectlist .title-typeproject h1 {
    font-size: 16px;
  }
  .project .content-full-flex-projects .content-projects .select-projectlist .title-typeproject .intProj {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .project .content-full-flex-projects .content-projects .content-proj .gifmac {
    margin-top: -110px;
  }
  .project .content-full-flex-projects .content-projects .content-desc .desc-proj-select p {
    font-size: 16px;
    line-height: 20px;
  }
  footer .content-full-flex-footer .left-footer h3 {
    font-size: 12px;
    margin-top: 20px;
  }

  .contact .content-full-flex-contact .text-contact-msm-flex h3 {
    font-size: 16px;
    padding-bottom: 50px;
  }
  .contact .content-full-flex-contact .contact-flex ul li h2 {
    font-size: 12px;
  }
}
