// Desktop and Tablets landcaspe
@media screen and (max-width: 1024px) {
    // ABOUT
    .about{
      .content-full-flex-about{
        .about-2{
          .text-about{
            margin-top: 0px;
          }
        }
      }
    }

    .about .content-full-flex-about .about-2 .text-about input {
    margin-top: 20px;
    }

    .carrer .content-full-flex-carrer .time-line-carrer #timeline .timeline-item .timeline-content h2{

      font-size: 14px;
    }

    .carrer .content-full-flex-carrer .time-line-carrer #timeline .timeline-item .timeline-content .logotime-title {
    padding-top: 30px;
    padding-left: 20px;
    }

    .carrer .content-full-flex-carrer .time-line-carrer #timeline .timeline-item .timeline-content .logotime-title .flex-12 {
    width: 15%;
    }

    .about .content-full-flex-about .about-2 .content-about .social-about {
    padding-top: 30px;

    }
    .project .content-full-flex-projects .content-projects {
      .content-proj {
        .gifmac{
        margin-top: -200px;
        }
      }
      .content-desc .desc-proj-select p{
        text-align: center;
      }
    }

    // CONTACT
    .contact{
        .content-full-flex-contact {
            .contact-flex{
              width: 70%;

            }
            .button-contact{
              width: 60%;
            }
        }
    }
}
