// Smartphone Blaclberry
@media screen and (max-width: 360px){
  .project .content-full-flex-projects .content-projects {
    padding-top: 20px;
    .content-proj{
      .gifmac{
      margin-top: -160px;
      }
    }
    .select-projectlist{
      width: 100%;
    }
  }

  .project .content-full-flex-projects .content-projects .content-desc .desc-proj-select p{
    text-align: center;
  }
}
