// Smartphone Blaclberry
@media screen and (max-width: 360px){
  .project .content-full-flex-projects .content-projects {
    padding-top: 20px;
    .content-proj{
      .gifmac{
      margin-top: -150px;
      }
    }
    .select-projectlist{
      width: 100%;
    }
  }

  .carrer .content-full-flex-carrer .time-line-carrer #timeline .timeline-item .timeline-content h1 {
    padding-top: 60px;
  }

  .carrer .content-full-flex-carrer .next-step h1 {
    font-size: 12px;
  }

  .list_tool_profile{
    display: none;
  }

  .project .content-full-flex-projects .content-projects .content-proj #list_tools_proj{
    display: none;
  }

  .project .content-full-flex-projects .content-projects .content-proj #list_tools_proj2{
    display: none;
  }

  .project .content-full-flex-projects .content-projects .content-desc .desc-proj-select p{
    text-align: center;
  }

  .about .content-full-flex-about .about-2 .text-about p {
    text-align: center;
  }

  .about .content-full-flex-about .about-2 .text-about h1 {
    text-align: center;
    padding-top: 50px;
  }

  .about .content-full-flex-about .about-2 .text-about h2 {
    text-align: center;
    padding-top: 40px;
  }

  .about .content-full-flex-about .col-flex1 .plus-about .flex-obout p {
    text-align: center;
  }

  .contact .content-full-flex-contact .text-contact-msm-flex h3 {
    font-size: 22px;
    padding-bottom: 50px;

  }
}
