// FONTS
@font-face {
    font-family: brandon;
    src: url('../fonts/Brandon_thin.otf');
}

@font-face {
    font-family: futurabt;
    src: url('../fonts/futurabtbold.otf');
}

@font-face {
    font-family: futurabt-medium;
    src: url('../fonts/futurabt-medium.otf');
}

@font-face {
    font-family: titillium;
    src: url('../fonts/titilliumwebthin.ttf');
}

@font-face {
    font-family: advent-pro;
    src: url('../fonts/adventpro-regular.ttf');
}

@font-face {
    font-family: kaufman-bt;
    src: url('../fonts/kaufmann-bt.ttf');
}
