// ICON NAV
.hamburger {
  position: fixed;
  background-color: transparent;
  padding: 3px 12px;
  top:40px;
  right: 5%;
  z-index: 100;
  cursor: pointer;
  transition: all cubic-bezier(0.4, 0.6, 0.24, 1.2) 0.5s;

  // lines Icon
  .line {
    width: 40px;
    height: 3px;
    background-color: $main-color-white;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
  }

  // Effect icon
  &.is-active {
    transform: rotate(90deg);
    margin-top: 20px;
    .line:nth-child(1) {
      width: 20px;
    }
    .line:nth-child(3) {
      width: 20px;
    }
  }
}
