// About
div.about#about-li
  div.content-full-flex-about
    div.about-2
      div.col-flex2
        div.picture-about
          img( src="img/picture-about.png" name=" Picture About")
      div.col-flex2
        div.content-about
          div.social-about
            ul 
              li 
                a(href="https://github.com/kleitonADS" target="_blank")
                  i(class="fa fa-github" aria-hidden="true")
              li 
                a(href="https://www.linkedin.com/in/kleitonsouzaads/" target="_blank")
                  i(class="fa fa-linkedin" aria-hidden="true")
              //li
                //a(href="#" target="_blank") 
                  //i(class="fa fa-codepen" aria-hidden="true" )
          div.text-about
            h1 About me
            p Hello! I am a web developer, PHP programmer, (front-end and back-end), with 3 years of experience, completely addicted and passionate about codes, currently working on private projects, developing projects that can make people's lives much easier.
            
            h2 Kleiton Azevedo 
            p +1 647 920 7728 | Toronto ON 
            input( type='button' id="showlink" value="My Resume" onmouseover="chanceButton(this)" onmouseout="normalImg(this)" name="show" )
            
          
          div.link-resume
            ul
              li
                a(href="file/resume.pdf" target='_blank') 
                  //i(class="fa fa-file-pdf-o" aria-hidden="true") 
                  h3 Portuguese
                  
              li
                a(href="file/ResumeKleiton-eng.pdf" target='_blank') 
                  //i(class="fa fa-file-pdf-o" aria-hidden="true") 
                  h3 English
    div.col-flex1
        div.plus-about
          div.flex-obout
            div.obj-about
              h2  <i class="fa fa-check" aria-hidden="true"></i> Objetives
              p Opportunity for growth and career progression as professional and personal achievements.
            
            div.qual-about
              h2  <i class="fa fa-check" aria-hidden="true"></i> Qualities
              p 
                | Proactive approach to problem solving, attention to detail, taking an initiative to explore issues and generate new ideas and approaches, able to work under pressure and deliver results with deadlines.
