// About
div.about#about-li
  div.content-full-flex-about
    div.about-2
      div.col-flex2
        div.picture-about
          img( src="img/picture-about.png" name=" Picture About")
      div.col-flex2
        div.content-about
          div.social-about
            ul 
              li 
                a(href="https://github.com/kleitonADS" target="_blank")
                  i(class="fa fa-github" aria-hidden="true")
              li 
                a(href="https://www.linkedin.com/in/kleitonsouzaads/" target="_blank")
                  i(class="fa fa-linkedin" aria-hidden="true")
              //li
                //a(href="#" target="_blank") 
                  //i(class="fa fa-codepen" aria-hidden="true" )
          div.text-about
            h1 About me
            p Olá! Sou Desenvolvedor Web, Programador PHP, (front-end e back-end), com 3 anos de experiência, completamente viciado e apaixonado por códigos, atualmente trabalho desenvolvendo projetos particulares, desenvolver projetos que possam facilitar a vida das pessoas é muito gratificante.
            
            h2 Kleiton Azevedo 
            p +1 647 920 7728 | Toronto ON 
            input( type='button' id="showlink" value="Curriculum" onmouseover="chanceButton(this)" onmouseout="normalImg(this)" name="show" )
            
          
          div.link-resume
            ul
              li
                a(href="file/resume.pdf" target='_blank') 
                  //i(class="fa fa-file-pdf-o" aria-hidden="true") 
                  h3 Português
                  
              li
                a(href="file/ResumeKleiton-eng.pdf" target='_blank') 
                  //i(class="fa fa-file-pdf-o" aria-hidden="true") 
                  h3 Inglês
    div.col-flex1
        div.plus-about
          div.flex-obout
            div.obj-about
              h2  <i class="fa fa-check" aria-hidden="true"></i> Objetivos
              p Oportunidade de crescimento e progressão na carreira como realizações profissional e pessoal.
            
            div.qual-about
              h2  <i class="fa fa-check" aria-hidden="true"></i> Qualidades 
              p 
                | Abordagem pró-ativa para resolução de problemas, atenção aos detalhes, tomando a iniciativa para explorar questões e gerar novas ideias e abordagens, capaz de trabalhar sob pressão e entregar resultados com prazos.
