// App
div.app#app-li
  div.content-full-flex-app
    div.text-link-app
      h2 Download my app profile now
      
      ul
        li
          a(href="#")
            i(class="fa fa-android" aria-hidden="true") 
        li
          a(href="#")
            i(class="fa fa-apple" aria-hidden="true")
        //li
          //a(href="#")
            //i(class="fa fa-windows" aria-hidden="true")    
    div.picture-smartyphone
      img(src="img/app_image1.png")    
