// SECTION CARRER
div.carrer#carrer-li
  div.content-full-flex-carrer
    div.title-flex-carrer
      h2 Carreira
    
    // Timeline
    div.time-line-carrer
      div#timeline
        
        // UCB
        div.timeline-item#step1
          div.timeline-icon
            i(class="fa fa-graduation-cap" aria-hidden="true")
          
          div.timeline-content(class="right")
            div.logotime-title
              div.flex-12
                img(src="img/ucb.svg")
              div.flex-88 
                h2 Universidade Católica de Brasília
            h1 Análise e desenvolvimento de sistemas ( 2010 / 2013 )
            
            p O curso de Análise e Desenvolvimento de Sistemas da Universidade Católica de Brasília (UCB) visa formar profissionais com sólidos conhecimentos teóricos e práticos para análise, design e desenvolvimento de sistemas, utilizando ferramentas computacionais, equipamentos informáticos e metodologia de projeto.
            
            ul
              li
                a(href="http://www.ucb.br/Cursos/6AnaliseEDesenvolvimentoDeSistemas/" target="_blank")
                  i(class="fa fa-external-link" aria-hidden="true")
              li
                a(href="http://www.ucb.br/sites/000/4/Curriculo4503.pdf?slT=8" target="_blank") 
                  i(class="fa fa-file-pdf-o" aria-hidden="true")
              li 
                a(href="https://kleitonads.github.io/profile/file/diplomaPT.pdf" target="_blank" )
                  i(class="fa fa-graduation-cap" aria-hidden="true")
        
        // line 2 freedon
        div.timeline-item#step2   
          div.timeline-icon
            i(class="fa fa-briefcase" aria-hidden="true")
          div.timeline-content
            div.logotime-title
              div.flex-12
                  img(src="img/freedon.svg")
              div.flex-88 
                h2 Agência liberdade de expressão
            
            p As agências de publicidade são responsáveis por criar, produzir e divulgar uma campanha publicitária. (Ou anúncios) em rádio, televisão, revistas, jornais, internet e outros meios, bem como no fornecimento de merchandising.
            h1 Web designer ( Jan / Nov 2013 )     
            p Editar e criar sites em HTML, CSS, JAVASCRIPT, JQUERY, WORDPRESS é responsável por manter conteúdo em portais usando o CMS.
          
      
        // line 3 Cast
        div.timeline-item#step3    
          div.timeline-icon
            i(class="fa fa-briefcase" aria-hidden="true")
          div.timeline-content(class="right")
            div.logotime-title
              div.flex-12
                img(src="img/cast.svg")
              div.flex-88
                h2 cast think beyond
            
             
            p Com 27 anos de mercado, a Cast Group é uma empresa nacional de Tecnologia da Informação com ampla experiência em grandes projetos para áreas privadas e públicas, que trabalha com consultoria em TI e desenvolvimento de terceirização, aplicações, infra-estrutura e implementação de soluções ERP, BI, ECM, HCM, CRM. 
            h1 Programador PHP ( 2013 / 2015 ) 
            p Desenvolvimento e manutenção de sistemas legados usando PHP, ZendFramework, HTML5, Bootstrap, CSS3, JavaScript, jQuery, Ajax e JSON, banco de dados PostgreSQL e MySQL.
            
            ul
              li
                a(href="http://www.cast.com.br/cast/portal/cast" target="_blank")
                  i(class="fa fa-external-link" aria-hidden="true")
      
      
        // line 4 Canada
        div.timeline-item#step4    
          div.timeline-icon
            i(class="fa fa-plane" aria-hidden="true")
          div.timeline-content
            div.logotime-title
              div.flex-12
                img(src="img/ca.svg")
              div.flex-88 
                h2 Intercâmbio Canada
            h1  ( 2016 / 2017 )    
            p Poder estar neste país, o Canadá, um país multicultural, aprendendo muitas culturas, podendo melhorar meu inglês ao conhecer novos amigos, e também tirar proveito de várias oficinas no campo de TI das grandes empresas, conhecer a área de desenvolvimento web.
            
        // line 5
        div.timeline-item#step5 
          div.timeline-icon
            i(class="fa fa-star" aria-hidden="true") 
    
    // next-step
    div.next-step
      h1 Em busca de novos desafios
