// SECTION CARRER
div.carrer#carrer-li
  div.content-full-flex-carrer
    div.title-flex-carrer
      h2 Career
    
    // Timeline
    div.time-line-carrer
      div#timeline
        
        // UCB
        div.timeline-item#step1
          div.timeline-icon
            i(class="fa fa-graduation-cap" aria-hidden="true")
          
          div.timeline-content(class="right")
            div.logotime-title
              div.flex-12
                img(src="img/ucb.svg")
              div.flex-88 
                h2 Universidade Católica de brasília
            h1 Analysis and Systems Development ( 2010 / 2013 )
            
            p The program of Analysis and Systems Development of the Catholic University of Brasilia aims to train professionals with solid theoretical and practical knowledge for analysis, design and development of systems, using computational tools, computer equipment and project methodology.

            
            ul
              li
                a(href="http://translate.google.com.br/translate?hl=pt-BR&sl=pt&tl=en&u=http%3A%2F%2Fwww.ucb.br%2FCursos%2F6AnaliseEDesenvolvimentoDeSistemas%2FConheca%2F" target="_blank")
                  i(class="fa fa-external-link" aria-hidden="true")
              li
                a(href="https://kleitonads.github.io/profile/file/engGradeucb.pdf" target="_blank") 
                  i(class="fa fa-file-pdf-o" aria-hidden="true")
              li 
                a(href="https://kleitonads.github.io/profile/file/engDegree.pdf" target="_blank" )
                  i(class="fa fa-graduation-cap" aria-hidden="true")
        
        // line 2 freedon
        div.timeline-item#step2   
          div.timeline-icon
            i(class="fa fa-briefcase" aria-hidden="true")
          div.timeline-content
            div.logotime-title
              div.flex-12
                  img(src="img/freedon.svg")
              div.flex-88 
                h2 Agência liberdade de expressão 
            
            p Advertising agency responsible for creating, producing and publicizing advertising campaigns (or advertisements) in radio, television, magazine, newspaper, internet and other medias, as well as for providing merchandising.

            h1 Web Designer ( Jan / Nov 2013 )     
            p Editing and creating websites in HTML, CSS, JAVASCRIPT, JQUERY, WORDPRESS; also responsible for maintaining content on portals using CMS.

                
        // line 3 Cast
        div.timeline-item#step3    
          div.timeline-icon
            i(class="fa fa-briefcase" aria-hidden="true")
          div.timeline-content(class="right")
            div.logotime-title
              div.flex-12
                img(src="img/cast.svg")
              div.flex-88
                h2 cast think beyond
            
             
            p For over 27 years, Cast group is a national Information Technology company with wide experience in large projects for private and public areas, working with IT consulting and outsourcing development, applications, infrastructure, and implementation of ERP solutions, BI, ECM, HCM, CRM. 
              
            h1 PHP Programmer ( 2013 / 2015 ) 
            p Development and maintenance of legacy systems using PHP, Zend Framework, HTML5, Bootstrap, CSS3, JavaScript, jQuery, Ajax and JSON, database PostgreSQL  and MySQL.
            
            ul
              li
                a(href="http://translate.google.com.br/translate?hl=pt-BR&sl=pt&tl=en&u=http%3A%2F%2Fwww.cast.com.br%2Fcast%2Fportal%2Fcast" target="_blank")
                  i(class="fa fa-external-link" aria-hidden="true")
      
      
        // line 4 Canada
        div.timeline-item#step4    
          div.timeline-icon
            i(class="fa fa-plane" aria-hidden="true")
          div.timeline-content
            div.logotime-title
              div.flex-12
                img(src="img/ca.svg")
              div.flex-88 
                h2 Exchanges Canada
            h1  ( 2016 / 2017 )    
            p Being in this country, Canada, a multicultural country, is an opportunity to learn many cultures, to improve English language, to meet new friends, and to take advantage of several workshops in the IT field offered by big companies, enhancing my knowledge of web development area.
            
        // line 5
        div.timeline-item#step5 
          div.timeline-icon
            i(class="fa fa-star" aria-hidden="true") 
    
    // next-step
    div.next-step
      h1 In search of new challenges
