// SECTION CARRER
div.carrer#carrer-li
  div.content-full-flex-carrer
    div.title-flex-carrer
      h2 Carrer
    
    // Timeline
    div.time-line-carrer
      div#timeline
        
        // UCB
        div.timeline-item#step1
          div.timeline-icon
            i(class="fa fa-graduation-cap" aria-hidden="true")
          
          div.timeline-content(class="right")
            div.logotime-title
              div.flex-12
                img(src="img/ucb.svg")
              div.flex-88 
                h2 Catholic University of Brasilia
            h1 Analysis and systems development ( 2010 / 2013 )
            
            p The course of Analysis and Development of Systems of the Catholic University of Brasilia (UCB) aims to train professionals with solid theoretical and practical knowledge for an analysis, design and development of systems, using computational tools, computer equipment and project methodology.
            
            ul
              li
                a(href="http://www.ucb.br/Cursos/6AnaliseEDesenvolvimentoDeSistemas/Conheca/" target="_blank")
                  i(class="fa fa-external-link" aria-hidden="true")
              li
                a(href="http://www.ucb.br/sites/000/1/PDF/2016/MatrizesCurriculares/GPE01ANALISEEDESENVOLVIMENTODESISTEMAS.pdf" target="_blank") 
                  i(class="fa fa-file-pdf-o" aria-hidden="true")
              li 
                a(href="img/diploma.jpg" target="_blank" )
                  i(class="fa fa-graduation-cap" aria-hidden="true")
        
        // line 2 freedon
        div.timeline-item#step2   
          div.timeline-icon
            i(class="fa fa-briefcase" aria-hidden="true")
          div.timeline-content
            div.logotime-title
              div.flex-12
                  img(src="img/freedon.svg")
              div.flex-88 
                h2 Agency freedom of expression
            
            h1 Web designer ( Jan / Dec 2013 )     
            p Editing and creating websites in HTML, CSS, JAVASCRIPT, JQUERY, WORDPRESS is responsible for maintaining content on portals using CMS.
          
      
        // line 3 Cast
        div.timeline-item#step3    
          div.timeline-icon
            i(class="fa fa-briefcase" aria-hidden="true")
          div.timeline-content(class="right")
            div.logotime-title
              div.flex-12
                img(src="img/cast.svg")
              div.flex-88
                h2 cast think beyond
            
             
            p With 27 years of market, Cast group is a national Information Technology company with wide experience in large projects for the private and public areas, which works with IT consulting and outsourcing development, applications, infrastructure, and implementation of ERP solutions , BI, ECM, HCM, CRM.  
            h1 PHP Programmer ( 2013 / 2015 ) 
            p Development and maintenance of legacy systems using PHP, ZendFramework, HTML5, Bootstrap, CSS3, JavaScript, jQuery, Ajax and JSON, database PostgreSQL  and MySQL.
            
            ul
              li
                a(href="http://www.cast.com.br/cast/portal/cast" target="_blank")
                  i(class="fa fa-external-link" aria-hidden="true")
      
      
        // line 4 Canada
        div.timeline-item#step4    
          div.timeline-icon
            i(class="fa fa-plane" aria-hidden="true")
          div.timeline-content
            div.logotime-title
              div.flex-12
                img(src="img/ca.svg")
              div.flex-88 
                h2 Exchanges Canada
            h1  ( 2016 / 2017 )    
            p I can be in this country Canada, a multicultural country, learning many cultures, being able to improve my English by meeting new friends, and also taking advantage of several workshops in the IT field of big companies, to know the area of web development.
            
        // line 5
        div.timeline-item#step5 
          div.timeline-icon
            i(class="fa fa-star" aria-hidden="true") 
    
    // next-step
    div.next-step
      h1 In search of new challenges
