// Contact
div.contact#contact-li
  div.content-full-flex-contact
    div.title-flex-contact
      h2 Contact 
    
    div.contact-flex 
      ul
        li
          i(class="fa fa-at" aria-hidden="true") 
          h2 kleiton.ads@hotmail.com
          
        li
          i(class="fa fa-mobile" aria-hidden="true")
          h2 +1 647 920 7728 
            
        li
          i(class="fa fa-map-marker" aria-hidden="true") 
          h2 Toronto - Ontario      
    
    
    div.text-contact-flex
      h3 ANY QUESTION OR SUGGESTION,  SEND ME A MESSAGE. THANKS!

      
    div.button-contact
        
      a(href="" id="showform" name="show" )
        i(class="fa fa-envelope" aria-hidden="true")
    
    div.text-contact-msm-flex    
      h3#mensage_send Thanks for message  
       
    div#form-main
      
      div#form-div
        //- form#form1.form(method="POST" action="http://formspree.io/kleiton.ads@hotmail.com")
        //-   p.name
        //-     input#name.feedback-input(name='name', type='text', class='validate[required,custom[onlyLetter],length[0,100]]', placeholder='Name')
        //-   p.email
        //-     input#email.feedback-input(name='email', type='email',  placeholder='Email' )
        //-   p.text
        //-     textarea#comment.feedback-input(name='comment', class='validate[required,length[6,300]]', placeholder='Comment')
        //-   div.submit
        //-     input#button-blue(type='submit', value='SEND')
            
        form#form1.form(enctype="text/plain", action="https://docs.google.com/forms/d/e/1FAIpQLSePaRE4vwcvptRUS7J61M1hDv7fBQnlkrXQxGtoLGTzKSc4dA/formResponse?" target="hidden_iframe" onsubmit="submitted=true;")
          p.name
            input#name.feedback-input(name='entry.925714318', type='text', class='validate[required,custom[onlyLetter],length[0,100]]', placeholder='Name',required="")
          p.email
            input#email.feedback-input(name='entry.573725565', type='email',  placeholder='Email', required="")
          p.text
            textarea#comment.feedback-input(name='entry.135057298', class='validate[required,length[6,300]]', placeholder='Comment',required="")
          div.submit
            input#button-blue(type='submit', value='SEND')
            iframe(name="hidden_iframe", id="hidden_iframe", style="display:none;", onload="if(submitted){}") 
          div.text-contact-flex
            //h3#mensage_send Thank for message  usp=pp_url    
            //input(type="hidden" name="_next" value="profile/#contact-li") 
            //input(type="text" name="_gotcha" style="display:none")
            
            
           
               
    
    div.moveup-contact
      a(href="#header")
        i(class="fa fa-angle-up" aria-hidden="true")
