footer
  div.content-full-flex-footer
    div.left-footer
      a(href="#")
        img(src="img/logo_footer.svg")
      h3 Copyright <i class="fa fa-copyright" aria-hidden="true"></i>
      
    div.right-footer
      a(href="https://github.com/kleitonADS")
        i(class="fa fa-github", aria-hidden="true")
      a(href="https://www.linkedin.com/in/kleitonsouzaads/")  
        i(class="fa fa-linkedin", aria-hidden="true")
      
      script(src="js/jquery.js", type="text/javascript")
      script(src="js/functions.js", type="text/javascript")
      script(src="js/jquery.lbslider.js")

      script(type="text/javascript").
        jQuery('.slider').lbSlider({
          leftBtn: '.sa-left', // left button selector
          rightBtn: '.sa-right', // right button selector
          visible: 3, // visible elements quantity
          autoPlay: true, // autoscroll
          autoPlayDelay: 15 // delay of autoscroll in seconds
        });
        
