footer
  div.content-full-flex-footer
    div.left-footer
      a(href="#")
        img(src="img/logo_footer.svg")
      h3 Copyright <i class="fa fa-copyright" aria-hidden="true"></i>
      
    div.right-footer
      a(href="https://github.com/kleitonADS")
        i(class="fa fa-github", aria-hidden="true")
      a(href="https://www.linkedin.com/in/kleitonsouzaads/")  
        i(class="fa fa-linkedin", aria-hidden="true")
      
      script(src="js/jquery.js", type="text/javascript")
      script(src="js/functions.js", type="text/javascript")
      script(src="js/nav-toggle.js", type="text/javascript")
      script(src="js/nav.js", type="text/javascript")
      script(src="js/button-resume.js", type="text/javascript")
      script(src="js/progess-skills.js", type="text/javascript")
      script(src="js/projects.js", type="text/javascript")
      script(src="js/contact.js", type="text/javascript")
      //- script(src="service-worker.js", type="text/javascript")
      
      
            
        
