// Project  
div.project#project-li
  div.content-full-flex-projects
    div.title-flex-projects-photo
      div.col-title-project
        img(src="img/photo_profile_project.png")
      
    div.title-flex-projects
      div.col-title-project
        h2 Projects
      div.col-title-project
      div.col-title-project 
      
    div.content-projects
      div.content-proj
        div.title-typeproject
          h1 Select project
        div.select-project
          //h1 <i class="fa fa-mouse-pointer" aria-hidden="true"></i> Select a project type
          
          div.leftlist
            a(href="#" class="slider-arrow sa-left" ) &lt
          
          div.slider
            ul
              li 
                img(src="img/logo-headerf.png") 
              li 
                img(src="img/logo-headerf.png")
              li 
                img(src="img/logo-headerf.png")
              li 
                img(src="img/logo-headerf.png") 
              li 
                img(src="img/logo-headerf.png")
            
          div.rightlist  
            a(href="#" class="slider-arrow sa-right") &gt
   
        img.macbook(src="img/macbook.png") 
        img.gifmac(src="img/testegif.gif")  
      
      div.content-desc
      
