// Project  
div.project#project-li
  div.content-full-flex-projects
    div.title-flex-projects-photo
      div.col-title-project
        img(src="img/photo_profile_project.png")
      
    div.title-flex-projects
      div.col-title-project
        h2 Projects
      div.col-title-project
      div.col-title-project 
      
    div.content-projects
      div.content-proj
        div.title-typeproject
          h1 Select project
        div.select-project
          //h1 <i class="fa fa-mouse-pointer" aria-hidden="true"></i> Select a project type
          
          div.leftlist
            a(href="#" class="slider-arrow sa-left" ) &lt
          
          div.slider
            ul#itenlist-proj
              li.imglist-proj
                img(src="img/logo_footer.svg" name="Project Calc")
              li.imglist-proj
                img(src="img/logo_footer.svg" name="Project TimeSheet")
              li.imglist-proj
                img(src="img/logo_footer.svg" name="Project X")
              li.imglist-proj
                img(src="img/logo_footer.svg" name="Project Y") 
              li.imglist-proj 
                img(src="img/logo_footer.svg" name="Project Z ")
            
          div.rightlist  
            a(href="#" class="slider-arrow sa-right") &gt
   
        img.macbook(src="img/macbook.png") 
        img.gifmac(src="img/testegif.gif")  
      
      div.content-desc
        div.title-des-proj
          h1#nameproj PROJECT NAME
        div.desc-proj-select  
          p#descproj Lorem ipsum dolor sit amet, consectetur adipisicing elitAtque,facilis quo maiores magnam modi ab libero praesentium blanditiis.facilis quo maiores magnam modi ab libero praesentium blanditiis.facilis quo maiores magnam modi ab libero praesentium blanditiis.
        div.links-desc-proj
          ul
            li
              a#linkviewproj(href="#" target="_blank")
                i(class="fa fa-external-link" aria-hidden="true")
            li
              a#linkcodeproj(href="#" target="_blank") 
                i(class="fa fa-code" aria-hidden="true")
            
