// Project  
div.project#project-li
  div.content-full-flex-projects
    div.title-flex-projects-photo
      div.col-title-project
        img(src="img/photo_profile_project.png")
      
    div.title-flex-projects
      div.col-title-project
        h2 Projects
      div.col-title-project
      div.col-title-project 
      
    div.content-projects
      div.content-proj
      div.content-desc
      
